---
title: Reset password
handle: account_password
slug: reset-password
seo_title: Reset my password | Shop Invader
---
{% extends 'layouts/account '%}

{% block 'content/tabcontent' %}
{% with_scope contact_type: "profile"%}
  {% assign profile = store.contacts.first %}
  <div class="card">
    <h2 class="card-header text-light bg-primary">
      <i class="fas fa-key"></i> {{'account_password_reset' | translate}}
    </h2>
    <div class="card-body">
      <p>
        {% editable_text jumbotron_title, rows: 1, format:'raw', hint: "Main homepage title (H1)" %}
        Après demander la réinitialisation de votre mot de passe,
        nous allons vous renvoyer un e-mail pour le remplacer.
        {% endeditable_text %}
      </p>
      <form action="{% path_to 'account_password' %}" method="POST">
        <input type="hidden" name="auth_action" value="forgot_password" />
        <input type="hidden" name="auth_content_type" value="accounts" />
        <input type="hidden" name="auth_id_field" value="email" />
        <input type="hidden" name="auth_id_password" value="password" />
        <input type="hidden" name="auth_reset_password_url" value="{{ base_url }}{% path_to reset_password %}" />
        <input type="hidden" name="auth_email_handle" value="reset_password_instructions" />
        <input type="hidden" id="auth-email" name="auth_id" value="{{ current_customer.email }}">
        <div class="text-center">
          <button class="btn btn-primary " type="submit">{{'account_password_reset' | translate}}</button>
        </div>

      </form>
    </div>
  </div>


  {% endwith_scope%}
{% endblock %}
