---
title: Reset password - Validation
handle: reset_password_validation
slug: reset-password-validation
seo_title: Reset password
---
{% extends 'layouts/lite' %}

{% block 'body/content' %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-9 col-xl-3 pt-4 pb-4">
    <div class="card shadow">
      <div class="card-body text-center">
        <h1 class="h3 text-uppercase pb-3">
        {% editable_text title, inline: true %}
            <i class="fa fa-key text-warning"></i>  Password assistance
        {% endeditable_text %}
        </h1>
        {% include 'store_notifications' %}
        <div class="text-center lead">
          <div class="">
            <i class="fa fa-check text-success"></i>

            {% editable_text body, rows: 1, format:'html'%}
            Thank you, your password has been successfully updated
            {% endeditable_text %}
          </div>

          <a href="{% path_to account_index %}" class=" btn btn-outline-primary mt-4">
            {% editable_text link, rows: 1, format:'html'%}
            Sign in
            {% endeditable_text %}
          </a>
        </div>

        </a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
