---
title: Reset password - Validation
handle: reset_password_validation
slug: reset-password-validation
seo_title: Reset password
---
{% extends 'layouts/lite' %}

{% block 'body/content' %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-9 col-xl-5 pt-4 pb-4">
    <div class="card card-item">
      <div class="card-body text-center">
        <h1 class="h3 text-uppercase pb-3">
          {{ 'account_password_reset' | translate }}
        </h1>
        {% include 'store_notifications' %}
        <div class="text-center lead">
          <div class="">
            <i class="fa fa-check text-success"></i>
            {{ 'account_password_reset_validation' | translate }}
          </div>
          <a href="{% path_to account_index %}" class=" btn btn-outline-primary mt-4">
            {{ 'signin_signin' | translate }}
          </a>
        </div>

        </a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
