.locomotive-section[data-locomotive-section-type="search"] {
	opacity: 0;

	.block {
		.filter-fade {
			opacity: 0;
			transition: opacity ease-in 300;
			&.show {
				opacity: 1;
			}
		}
		[data-filter-widget=results] {
			min-height: 30vh;
		}
		&.block-faceting {
			border-right: 1px solid $border-color;

			.collapse.show, 
			.collapsing {
				@include media-breakpoint-down(sm) {
					align-content: space-between;
					background-color: $white;
					position: fixed;
					height: 100vh !important;
					left: 15px;
					overflow: auto;
					
					top: 0;
					z-index: 2000;
					width: 100vw;
				}
			}
		}
	}
}