.cookies-manager-banner {
  background-color: transparentize($black, .12);
  padding-bottom: 3rem;
  padding-top: 3rem;
  .message {

  }

}
.cookies-manager-modal {
  .cookie-manager-slider {
    input {
        display: none;
    }
    label {
      border-radius: 1.7rem;
      cursor: pointer;
      height: 1.8rem;
      width: 4rem;
      background-color: theme-color('success');

      position: relative;
      &:after {
        transition: all ease-in 200ms;
        position: absolute;
        display: block;
        content: " ";
        height: 1.3rem;
        width: 1.3rem;
        margin-top: 0.25rem;

        right: 2.4rem;
        border-radius: 10px;
        background-color: $white;
      }
      span {
        position: absolute;
        left: 0;
        top: 2.1rem;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
        &.off {
          display: none;
        }
      }
    }
    input:checked + label {
      background-color: theme-color('danger');
      &:after {
        right: 0.25rem;
      }
      span {
        &.on {
          display: none;
        }
        &.off {
          display: block;
        }
      }
    }
  }
}
