$color-debug-block: #17a2b8;
$color-debug-subblock: #0d8d20;
.body-section-debug {
	.locomotive-section{
		
		.block-debug {
			display: none;
		}
		&.section-selected {

			&:hover {
				&:before {
					border: 0;
				}
				.block {
					&:before {
						border: 0;
					}
					.block-debug {
						display: none;
					}
					.block {
						&:before {
							border: 0;
						}
						.block-debug {
							display: none;
						}
					}
				}
			}
			.block {
				&:before {
					content: " ";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 5100;
					border: 1px outset transparentize($color-debug-block, .4);
				}
				&.child {
					&:before {
						top: 5px;
						left: 5px;
						width: calc(100% - 10px);
						height: calc(100% - 10px);
						border: 1px outset transparentize(darken($color-debug-block, 10), .4);
					}
				}
				position: relative;
				.block-debug {
					font-size: 0.8rem;
					
					color: #fff;
					font-weight: bold;
					position: absolute;
					display: flex;
					z-index: 5100;
					& > div {
						padding: 3px;
						background-color: transparentize($color-debug-block, .2);
					}
					top:0;
					left: 0;
					text-transform: capitalize;

					.sizing {
						text-transform: uppercase;
						background-color: transparentize(darken($color-debug-block, 10), .2);
						border-bottom-right-radius: 5px; 
					}
				}
				.block {
					&:before {
						border: 1px solid transparentize($color-debug-subblock, .4);
						height: calc(100% - 8px);
						left: 4px;
						top: 4px;
						width: calc(100% - 8px);
					}
					.block-debug {
						left: 4px;
						top: 4px;
						& > div {
							background-color: transparentize($color-debug-subblock, .2);
						}
						.child {
							background-color: transparentize(darken($color-debug-subblock, 10), .2);
							border-bottom-right-radius: 5px; 
						}
					}
				}
			}
		}
	}

}
