<script type="text/html" id="category-hit-template">
  {% raw %}
  {{=<% %>=}}
  {% endraw %}
  <%#name%>
  <div style="" class="">
    <a href="{{url_base}}/<% url_key %>" class="category-link" >
      <%#name%>
        <% name %>
      <%/name%>
    </a>
  </div>
  <%/name%>
</script>