<script type="text/html" id="no-results-template">
  {% raw %}
  {{=<% %>=}}
  {% endraw %}
  <div class="row" id="no-results-message">
    <div>{{"search_noresult" | translate}}</div>
  </div>
</script>
