<script type="text/html" id="stats-template">
  {% raw %}
  {{=<% %>=}}
  {% endraw %}
  <div class="row" >
    <div class="col-12 text-right">
        <%#hasManyResults %>
          <strong><% nbHits %> {{'search_total_count_two' | translate }}</strong>
        <%/hasManyResults %>
        <%#hasOneResult %>
          <strong><% nbHits %> {{'search_total_count_one' | translate }}</strong>
        <%/hasOneResult %>
    </div>
  </div>
</script>
