<script type="text/html" id="category-hit-template">
  {% raw %}
  {{=<% %>=}}
  {% endraw %}
  <div class="">
    <a href="{{url_base}}/<% url_key %>" class="bold" >
      <%#name%>
        <% name %>
      <%/name%>
    </a>
    <div class="small">
    <%& short_description %>
    </div>
  </div>
</script>
