<script type="text/html" id="category-hit-template">
  {% raw %}
  {{=<% %>=}}
  {% endraw %}
  <%#name%>
  <div style="" class="">
    <a href="{{url_base}}/<% url_key %>" class="bold" >
      <%#name%>
        <% name %>
      <%/name%>
    </a>
    <div class="small">
      <%# short_description %>
      <%& short_description %>
      <%/ short_description %>
      &nbsp <BR>
    </div>
  </div>
  <%/name%>
</script>
