{% if live_editing == true 	and site.metafields.theme.debug_section == true %}
	<div class="block-debug {% if block.settings.is_child %}child{% endif %}">
		<div>
			<i class="far fa-square"></i> 
			{{block.type | replace:'_', ' '}}
		</div>
		{% if block.settings.is_child %}
			<div class="child">
				<i class="fas fa-level-down-alt"></i> Child
			</div>
		{% elsif block.settings.cell_size != null%}
			<div class="sizing">
				<i class="fas fa-text-width"></i> 
				{{block.settings.cell_size}}
			</div>
		{% endif %}
	</div>
{% endif %}