<div>{{title}}</div>
{% assign selected_payment = store.cart.payment.available_methods.items | first %}
<div id="payments-panel">
  <div class="container card card-body mb-3" >
      {% include 'payment_stripe' with payment_method,
          amount: store.cart.amount.total,
          target: 'current_cart',
          action: '/cart/add_payment' %}
        </div>
  {% for payment_method in store.cart.payment.available_methods.items %}
    <div class="container card card-body mb-3" >
    {% case payment_method.code %}
      {% when 'stripe' %}
        {% include 'payment_stripe' with payment_method,
          amount: store.cart.amount.total,
          target: 'current_cart',
          action: '/cart/add_payment' %}
      {% when 'sips' %}
        {% include 'payment_sips' with payment_method,
          amount: store.cart.amount.total,
          target: 'current_cart',
          action: '/payment_sips/prepare_payment' %}
      {% when 'banktransfer' %}
        {% include 'payment_bank_transfert' with payment_method,
          amount: store.cart.amount.total,
          target: 'current_cart',
          success_handle: 'cart_end'
        %}
      {% when 'checkmo' %}
        {% include 'payment_check' with payment_method,
          amount: store.cart.amount.total,
          target: 'current_cart',
          success_handle: 'cart_end'
        %}
      {% when 'paypal' %}
        {% include 'payment_paypal' with payment_method,
          amount: store.cart.amount.total,
          target: 'current_cart',
          success_handle: 'cart_end'
        %}
    {% endcase %}
    </div>
  {% endfor%}
</div>