{% if inline == true %}
	{% assign css_block = "d-flex align-items-center"%}
{% else %}
	{% assign css_block = " "%}
{% endif %}

{% assign keys = data_type | split:'.' %}
{% assign data = variant%}
{% for key in keys %}
	{% assign data = data[key] %}
{% endfor %}

{% if keys.size > 0 and data != null and data != "" %}
	<div class="{{css_block}}">
		{% if block.settings.title %}
		  <div class="pr-2">
		    {{ block.settings.title }}
		  </div>
		{% endif %}
	  <div>
	  	{{ data  | newline_to_br}}
	  </div>
	</div>
{% endif %}