{% if store.cart.available_for_quotation == true %}
  <div class="card bg-light border-left-0 border-right-0 border-primary mt-4 mb-4 ">
    <div class="card-body text-left ">
      <div class="row">
        <div class="col-12">
          <span class="pt-4 pb-4 text-info ">
            {{title}}
          </span>
        </div>
        <div class="col-12 text-info ">
          {{content}}
        </div>
        <div class="col-12  text-right">
          <form method="POST" action="/invader/cart/request_quotation" >
            <input type="hidden" name="invader_success_url" value="{% path_to 'cart_end' %}" />
            <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
            <button type="submit" name="button" class="btn btn-outline-info mt-3">
              <b>
                {{btn_label}}
              </b>
              <i class="fa fa-chevron-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
