{% assign filters = store.all_filters %}
{% assign product_display = 'grid'%}

{% case layout %}
  {% when 'column' %}
    {% assign css_col = "col-12  col-sm-4 col-md-6 col-lg-4 col-xl-3"%}
  {% else %}
    {% assign css_col = "col-12  col-sm-4 col-lg-3 col-xl-2"%}
{% endcase %}
{% if  bordered == true %}
	{% assign css_col = css_col | append: " border border-1 border-left-0 border-top-0"%}
{% endif %}
<div class="row">
  <div class="col-12 d-none  d-md-block">
  	<div class="p-1 pt-4">
	    <h1 class="title-decorator">
	      {{title}}
	    </h1>
	    <p>{{short_description}}</p>
	  </div>
  </div>
</div>
<div class="row justify-content-end align-items-center pt-2 pb-2">
	{% if current_filter == true %}
		<div class="col-auto" data-filter-widget="current-filter"></div>
	{% endif %}
	<div class="col-auto" data-filter-widget="stats"></div>
	<div class="col-auto" data-filter-widget="hits-per-page"></div>
	<div class="col-auto" data-filter-widget="paginate"></div>
</div>
<div class="row border border-left-0 border-right-0">
	<div class="col-12" data-filter-widget="results" id="search-result">
	  <div class="row m-0">
	    <div class="{{css_col}} product-col p-2  ">
	    </div>
	  </div>
	</div>
</div>
<div class="row justify-content-end align-items-center pt-2 pb-2 ">
	<div class="col-auto" data-filter-widget="stats"></div>
	<div class="col-auto" data-filter-widget="hits-per-page"></div>
	<div class="col-auto" data-filter-widget="paginate"></div>
</div>
<div class="row">
	<div class="col-12">
		<div class="p-1">
	    <p>{{description}}</p>
	  </div>
	</div>
</div>