{% case page.handle %}
  {% when 'cart_login' %}
    {% assign cart_step = 2 %}
  {% when 'cart_address' %}
    {% assign cart_step = 2 %}
  {% when 'cart_checkout' %}
    {% assign cart_step = 3 %}
  {% when 'cart_end' %}
    {% assign cart_step = 4 %}
  {% else %}
    {% assign cart_step = 1 %}
{% endcase %}

<ul class="cart-breadcrumb d-none d-md-flex">
  <li class="active">
    <a href="{% path_to cart_index %}" >
      <span class="breadcrumb-number shadow">
        <span class="breadcrumb-counter">1</span>
      </span>
      <span class="breadcrumb-title">
        {{ 'cart_step_step1' | translate }}
      </span>
    </a>
  </li>
  <li class="{%if cart_step >= 2 %}active{% endif %}">
    <a href="{% path_to cart_address %}" >
      <span class="breadcrumb-number shadow">
        <span class="breadcrumb-counter">2</span>
      </span>
      <span class="breadcrumb-title">
        {{ 'cart_step_step2' | translate }}
      </span>
    </a>
  </li>
  <li class="{%if cart_step >= 3 %}active{% endif %}">
    <a href="{% path_to cart_checkout %}" >
      <span class="breadcrumb-number shadow">
        <span class="breadcrumb-counter">3</span>
      </span>
      <span class="breadcrumb-title">
        {{ 'cart_step_step3' | translate }}
      </span>
    </a>
  </li>
  <li class="{%if cart_step >= 4 %}active{% endif %}">
    <span class="breadcrumb-number shadow">
      <span class="breadcrumb-counter">4</span>
    </span>
    <span class="breadcrumb-title">
      {{ 'cart_step_step4' | translate }}
    </span>
  </li>
</ul>
