{% if store.cart.available_for_quotation == true %}
  <div class="card bg-light border-left-0 border-right-0 border-info mt-4 mb-4 ">
    <div class="card-body text-left ">
      <div class="row">
        <div class="col-12">
          <span class="fa-stack mb-4 h3 mr-2">
            <i class="fas fa-circle text-info fa-stack-2x"></i>
            <i class="fas fa-file-invoice fa-stack-1x text-light"></i>
          </span>

          <span class="h1 pt-4 pb-4 text-info ">
            {% editable_text quotation_title, label: 'Cart Quotation - title', rows: 1 %}
              Request a quotation
            {% endeditable_text %}
          </span>
        </div>
        <div class="col-12 col-md-8 text-info ">
          {% editable_text quotation_title, label: 'Cart Quotation - desc', rows: 1 %}
            If you want a quotation you can request our teams to
            study an offer customized to your needs and your situation.
            <br>
            Quick answer in less than 8 working days.

          {% endeditable_text %}
        </div>
        <div class="col-12 col-md-4 text-right">
          <form method="POST" action="/invader/cart/request_quotation" >
            <input type="hidden" name="invader_success_url" value="{% path_to 'cart_end' %}" />
            <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
            <button type="submit" name="button" class="btn btn-outline-info btn-lg mt-3">
              <b>
              {% editable_text quotation_title, label: 'Formulaire paiement - titre', rows: 1 %}
                Request quotation
              {% endeditable_text %}
              </b>
              <i class="fa fa-chevron-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
