
<div class="category-thumbnail col-xs-12 col-md-6 col-lg-3">
  <a href="{{category.url_key  | prepend: url_base }}">
    <img src="{{category.images.first.medium}}" alt="">
    <div class="text-center text-size-base">
      {{category.name}}
    </div>
  </a>
 </div>
