<div class="d-flex text-primary text-center ">
  <div class="w-50">
    <i class="fa fa-user fa-2x fa-fw d-inline-block"></i>
    <div class="bold small">
    {% if current_customer %}
      <form method="post" action="{% path_to account %}">
        <input type="hidden" name="auth_action" value="sign_out" />
        <input type="hidden" name="auth_content_type" value="customers" />
        <span class="text-danger">{{current_customer.name}}</span> -
        <button type="submit" class="btn btn-link " >
          <i class="fa fa-power-off"></i>
          {{ 'account_signout' | translate }}
        </button>
      </form>
    {% else %}
      {{'header_login' | translate }}
    {% endif %}
    </div>
  </div>
  <div class="w-50">
    <i class="fa fa-shopping-basket fa-2x fa-fw d-inline-block ml-3"></i>
    <div class="bold small">
      {{'header_cart' | translate }}
    </div>
  </div>
</div>
