
{% editable_text form_creditcard_title, label: 'Formulaire paiement - titre', rows: 1 %}
  <div class="h2 pt-4">
    Checkout with PayPal – Fast. Easy.
  </div>
  <p>
    Pay your order with PayPal.Safe an easy way to pay.<br>
  <!-- PayPal Logo -->
  <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="About PayPal" onclick="javascript:window.open('https://www.paypal.com/fr/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
    <img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logo_paypal_paiements_securises_fr.jpg" border="0" alt="PayPal Acceptance Mark" />
  </a>
  </p>
{% endeditable_text %}
<div class="row pt-2">
  <div class="col-12 col-sm-6 text-center text-sm-right font-weight-bold lead">
    <div class="pt-2">
      {{'cart_total_total' | translate }}
      {% include 'currency' | value: amount %}
    </div>

  </div>
  <div class="col-12 col-sm-6 text-center text-sm-left">
    <form method="POST" action="{{action}}">
      <input type="hidden" name="invader_success_url" value="{% path_to 'cart_end' %}" />
      <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
      <input type="hidden" name="payment_mode[id]" value="{{payment_method.id }}">
      <input type="hidden" name="paypal[redirect_success_url]" value="{% path_to cart_end %}">
      <input type="hidden" name="paypal[redirect_cancel_url]" value="{% path_to page %}">
      <button type="submit" name="button" class="btn btn-warning btn-lg text-dark ">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal Logo">
        <span class="">
        {% editable_text form_creditcard_title, label: 'Formulaire paiement - titre', rows: 1 %}
           checkout
        {% endeditable_text %}
        </span>
      </button>
    </form>
  </div>
</div>
