<p>{{payment_method.description}}</p>
<div class="">
  <form method="POST" action="/invader/cart/add_payment">
    <input type="hidden" name="invader_success_url" value="{% path_to 'cart_end' %}" />
    <input type="hidden" name="invader_error_url" value="{% path_to page %}" />
    <input type="hidden" name="payment_mode[id]" value="{{payment_method.id }}">
    <button type="submit" name="button" class="btn btn-primary btn-lg">
      {% editable_text form_creditcard_title, label: 'Formulaire paiement - titre', rows: 1 %}
         <i class="fas fa-long-arrow-alt-right"></i> Pay by bank transfert
      {% endeditable_text %}
    </button>
  </form>
</div>
