

  <div class="input-group product-qty">
    <div class="input-group-addon" data-field="qty" data-type="minus">
      <i href="#" class="fa fa-minus text-white"></i>
    </div>
    <input type="text" class="form-control text-center" name="item_qty" id="qty" value="{{qty | round}}" autocomplete="off">
    <div class="input-group-addon" data-field="qty" data-type="plus">
      <i href="#" class="fa fa-plus text-white"></i>
    </div>
  </div>
