  {% assign input_css = '' %}
  {% if small %}
    {% assign input_css = 'input-group-sm' %}
  {% endif %}

  <div class="input-group {{input_css}} product-qty ">
    <div class="input-group-prepend" data-field="qty" data-type="minus">
      <div class="btn btn-link ">
        <i href="#" class="fa fa-minus text-dark"></i>
      </div>
    </div>
    <input type="text" class="form-control text-center" name="item_qty" id="qty" value="{{qty | round}}" autocomplete="off" max="100" step="1" min="1">
    <div class="input-group-append" data-field="qty" data-type="plus">
      <div class="btn btn-link">
        <i href="#" class="fa fa-plus text-dark"></i>
      </div>
    </div>
  </div>
