

  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-minus"></i>
    </div>
    <input type="text" class="form-control text-center" name="item_qty" id="qty" value="{{qty | round}}">
    <div class="input-group-addon">
      <i class="fa fa-plus"></i>
    </div>
  </div>
