$icon-font-path: "../fonts/bootstrap/" !default;
@import 'components/custom';
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import 'bootstrap4/bootstrap';
@import 'components/account';
@import 'components/algolia';
@import 'components/cart';
@import 'components/columns';
@import 'components/editable';
@import 'components/footer';
@import 'components/loader';
@import 'components/nav';
@import 'components/posts';
@import 'components/product';
@import 'components/preloader';
@import 'components/rating';
//@import 'components/typo';
@import 'components/slide';
@import 'components/showcase';
@import 'components/wells';

@import 'payments/adyen';
@import 'payments/stripe';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/regular';
@import 'fontawesome/brands';
html {
  font-size: 15px;
  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }
}

@if $page-max-width > 0 {
  body {

    background-color: $main-bg;
    .navbar-header {
        max-width: $page-max-width;
    }
    .page {
      background-color: $body-bg;
      max-width: $page-max-width;
      margin: auto;
      box-shadow: $page-shadow;
    }
  }

}

.debug [class*='col-'] {
  border: 1px dotted red !important;
  background-clip: content-box !important;
  min-height: 20px !important;
}

.modal-lg {
    max-width: 1400px;
    width: 100%;
}

.banner-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1200px) {
    .container{
        max-width: $max-content-width;
        width: 100%;
    }
}

.nav-stacked {
  li{
    background-color: grays("100");
    position: relative;
    a {
      color: grays("900");
      font-size: 14px;
    }
    &.active {
      background-color: theme-colors("danger");
      a {
        background-color : transparent;
        border: 0;
      }
    }
  }
}

.row,
.row-fluid {
  &.nopadding {
    [class*='col-'] {
      padding: 0;
    }
  }

  .nopadding {
    padding: 0;
  }

  &.separator-right > [class*='col-'] {
    border-right: 1px solid $gray-100;

    &:last-child {
      border-color: transparent;
    }
  }

  &.separator-bottom > [class*='col-'] {
    border-bottom: 1px solid $gray-100;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}



.modal-dialog {
  @include media-breakpoint-down(sm) {
    margin:0;
  }
}


.post-mozaic {
  .post-mozaic-item {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    &:nth-child(3), &:nth-child(4) {
      flex-direction:row-reverse;
      .post-mozaic-content {
        padding-top: 1rem;
      }
    }

    .post-mozaic-img, .post-mozaic-content {
      height: 100%;

      width: 50%;
    }
    .post-mozaic-img {
      background-size: cover;
      background-repeat: no-repeat;
    }
    .post-mozaic-content {
      padding: 1rem;
      padding-top: 0;
      h3 {
        font-size: 1rem;
      }
    }

  }
  @include media-breakpoint-down(sm) {
    .post-mozaic-item {
      flex-direction: column;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;

      .post-mozaic-img {
        border: 1px solid $gray-300;
        height: 15rem;
        width: 100%;
      }
      .post-mozaic-content {
        border: 1px solid $gray-300;
        padding-top: 1rem !important;
        width: 100%;
        height: calc(100% - 15rem);
        //display: block;

      }
      &:nth-child(3), &:nth-child(4) {
        flex-direction:column;
      }
    }
  }
}
.banner-quote {
  padding-top: 6rem;
  padding-bottom: 6rem;

  .card {
    background: theme-color-level('dark', 2);
    .card-body {
      position: relative;
      padding: 1rem;
      padding-left: 2rem;
      padding-top: 2rem;
      color: $white;
      &::before {
        content: "\f10d";
        font-family: 'Font Awesome 5 Free';
        font-size: 1.6rem;
        font-weight: bold;
        color: theme-color-level('dark', -5);
        position: absolute;
        left: 0rem;
        top:.8rem;
      }
    }
  }
}
.sidebar-filters {
  @include media-breakpoint-up(md) {
    &.collapse {
      display: block;
    }
  }
  @include media-breakpoint-down(sm) {
    &.collapsings {
      .sidebar-filters-backdrop {
        opacity: 1;
      }
    }
    &.show {
      .sidebar-filters-content {
        left:0;
      }
      .sidebar-filters-backdrop {
        opacity: 1;
      }
    }
    .sidebar-filters-backdrop {
      position: fixed;
      background-color: transparentize($gray-900, 0.5);
      height: 100vh;
      width: 100vw;
      top: 0px;
      left: 0px;
      z-index: 2990;
      opacity: 0;
      transition: all ease-in 300ms;
    }
    //display: none;
    .sidebar-filters-content {
      background: $white;
      border: 1px solid $gray-300;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
      position: fixed;
      top: 0px;
      left: -300px;
      z-index: 3000;
      height: 100vh;
      min-width: 270px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      transition: all ease-in 200ms;
      .sidebar-filters-list {
        overflow: auto;
      }
    }
  }
  .filter-block {
    border-bottom: 1px solid  $gray-300;
    padding: 0.8rem;
    h4 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.8rem;
      padding-bottom: 0.5rem;
    }
  }
}
.filter-bar {
  display: flex;
  align-items: stretch;
  flex-flow: nowrap;
  align-self: stretch;
  justify-content: stretch;
  .filter-bar-col {
    border: 1px solid $gray-300;
    flex-grow: 1;
    line-height: 100%;
  }
}
.bottom-nav {
  background-color: $white;
  padding: 0.5rem;
  position: fixed;

  box-shadow: 0px -3px 5px rgba(0,0,0,.26);
  position: fixed;
  z-index: 1010;
  bottom: 0;
  left:0;
  width: 100%;
  margin:0;
}
