$icon-font-path: "../fonts/bootstrap/" !default;
@font-face {
    font-family: 'sf-distant-galaxy';
    src: url('../fonts/sf-distant-galaxy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import 'bootstrap4/bootstrap';

@import 'components/algolia';
@import 'components/cart';
@import 'components/columns';
@import 'components/editable';
@import 'components/footer';
@import 'components/nav';
@import 'components/posts';
@import 'components/product';
@import 'components/rating';
//@import 'components/typo';
@import 'components/slide';
@import 'components/wait_overlay';
@import 'components/wells';

footer {
  margin-top: 70px;
}

.navbar-fixed-top + main {
  padding-top: 150px;
}

.debug [class*='col-'] {
  border: 1px dotted red !important;
  background-clip: content-box !important;
  min-height: 20px !important;
}

.sidebar {
  border-right : 1px solid grays("100");
  padding-right: 10px;
  height:100%;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: theme-colors("danger");
}

.pagination-block {
  padding-bottom: 20px;
}

.modal-lg {
    max-width: 1400px;
    width: 100%;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
        width: 100%;
    }
}

.nav-stacked {
  li{
    background-color: grays("100");
    position: relative;
    a {
      color: grays("900");
      font-size: 14px;
    }
    &.active {
      background-color: theme-colors("danger");
      a {
        background-color : transparent;
        border: 0;
      }
    }
  }
}

.row,
.row-fluid {
  &.nopadding {
    [class*='col-'] {
      padding: 0;
    }
  }

  .nopadding {
    padding: 0;
  }

  &.separator-right > [class*='col-'] {
    border-right: 1px solid grayscale("100");

    &:last-child {
      border-color: transparent;
    }
  }

  &.separator-bottom > [class*='col-'] {
    border-bottom: 1px solid grayscale("100");
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.alert-cookie {

  text-align: center;
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  top: unset;
  width: 100%;
  z-index: 100;
  .btn {
    min-width: 50px;
    margin-left: 50px;
  }
}
