.account-card-menu {
  .nav {
    a {
      color: $gray-800;
      .fas {
        color: theme-color('primary');
      }
    }
    .active {

      background: theme-color('primary');
      & > a {
        color: $white;
      }
      .fas {
        color: $white;
      }
    }
  }
}
.navbar-quotation {
  .quotation-pay {
    display: none;
  }
  .btn:not(.collapsed) {
    .quotation-details {
      display: none;
    }
    .quotation-pay {
      display: block;
    }
  }
}
