/*
.ais-pagination {
  padding: 0;
  .ais-pagination--item {
    text-align: center;
    a {
      background-color: $gray-100;
      border-color: $gray-300;
      color: theme-color('dark');
      font-size: 0.8rem;
      padding: 0.5rem 0.65rem 0.5rem 0.65rem;
    }
    &.ais-pagination--item__active a {
      background-color: theme-color("primary");
      border-color: theme-color("primary");
      color: $white;
      font-weight: bold;
    }
    &.ais-pagination--item__disabled {
      display: none;
    }
  }
  @include media-breakpoint-up(sm) {
    .ais-pagination--link {
      color: theme-color("primary");
    }


  }
  @include media-breakpoint-down(sm) {
    margin:0;
    .ais-pagination--item__first,
    .ais-pagination--item__last,
    .ais-pagination--item__page {
      display: none;
    }
    .ais-pagination--item__active {
      display: inline-block;

    }
    .ais-pagination--item__next,
    .ais-pagination--item__previous {
      a {
        font-weight: bold;
      }
    }
  }
}
.ais-search-box {
  max-width: none !important;
  width: calc(100% - 41px) !important;
  .ais-search-box--input {
    width: 100%;
  }
  .ais-search-box--magnifier {
    display: none;
  }
}
.ais-root {
  border-top: 1px solid grays("200");
  padding-bottom: 10px;

  .ais-body {
    font-size: $font-size-sm;

    //Result count item
    .ais-refinement-list--count,
    .ais-hierarchical-menu--count,
    .ais-menu--count,
    .ais-star-rating--count,
    .ais-toggle--count {
      color: theme-color("info");
      float: right;
      font-size: $font-size-sm;
    }
  }

  //Show more button
  .ais-show-more {
    cursor: pointer;
    display: block;
    font-size: $font-size-sm;
    font-weight: 700;
    text-align: right;
    transition: .5s;
    width: 100%;
    &:before {
      content: '';
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-size: 13px;
      margin-right: 5px;
      text-decoration: none;
    }

    &.ais-show-more__active {
      &:before {
        content: "";
      }
    }
  }

  &.ais-root__collapsible {
    .ais-header{
      position: relative;
      &:before {
        border: 1px solid $gray-600;
        border-top: 0;
        border-right: 0;

        content: " ";
        display: inline-block;
        position: absolute;
        height: 10px;
        transform: rotate(135deg);
        top: 5px;
        right: 0px;
        width: 10px;
        transition: all ease-in 200ms;

      }
      h4 {
        color: $gray-700;
        font-family: $font-family-sans-serif;
        font-weight: bold;
      }
    }
    &.ais-root__collapsed {
      .ais-header:before {
        transform: rotate(-45deg);
      }
    }
  }

  &.ais-price-ranges {
    .ais-price-ranges--input {
      display: inline;
      width: 85%;
      padding: 0.2rem;
      font-size: 0.8rem;
      -moz-appearance: textfield;
    }
    .ais-price-ranges--link {
      font-size: 0.8rem;
      color: theme-color("dark");
    }
    .ais-price-ranges--currency {
      font-size: 1rem;
      text-align: left;
      padding-right: 0.2rem;
      float: right;
    }
    .ais-price-ranges--separator {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      font-size: 1rem;
      color: theme-color("primary");
    }
    .ais-price-ranges--button {
      padding: 0rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 0.7rem;
      height: 25px;
    }
    .ais-price-ranges--form {
      padding-top: 0.5rem;
    }
  }

  &.ais-current-refined-values {
    .ais-current-refined-values--list {
      display: inline-block;
      .ais-current-refined-values--item {
        border: 1px solid $gray-500;

        display: inline-block;
        font-size: 0.8rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.3rem;
        position: relative;
        a {
          color: $gray-600;
          display: inline-block;
          text-transform: uppercase;
        }
        .fa {


          transition: 200ms all ease-in;
        }
        &:hover {
          border-color: theme-color("warning");
          a {
            color: $gray-800;
          }
          .fa {
            color: theme-color("warning");
          }
        }
      }
      .ais-current-refined-values--clear-all {
        display: inline-block;
      }
    }
  }

  // Price slider widget
  &.ais-range-slider {

    .ais-range-slider--base {
      border-color: theme-color("secondary");
    }

    .ais-range-slider--connect {
      background: theme-color("primary");
    }

    .ais-range-slider--handle {
      border-color: theme-color("primary");
      //background: theme-color("info");
      bottom: 5px;
      height: 12px;
      width: 12px;
    }

    .ais-range-slider--marker {
      background: none;
      &.ais-range-slider--marker-large {
        background: theme-color("secondary");
      }
    }
    .rheostat {
      margin-left: auto;
      margin-right: auto;
      width: calc(100% - 40px);

      .rheostat-progress {
        background: theme-color-level("primary", -3);
        top: -2px;
      }
      .rheostat-background {
        top: -3px;
      }
      .rheostat-handle {
        .ais-range-slider--tooltip {
          background-color: theme-color("secondary");
          border-radius: 3px;
          font-size: 0.6rem;
          padding-left: 4px;
          padding-right: 4px;
          width: auto;
        }

      }
    }
  }

  // Rating widget
  &.ais-star-rating {
    font-size: $font-size-sm;
    .ais-star-rating--star:before, .ais-star-rating--star__empty:before {
      content: "\f005";
      font-family: 'Font Awesome 5 Free';
      font-size: 14px;
    }
    .ais-star-rating--star__empty:before {
      content: "\f006";
    }
  }

  //Result number widget
  &.ais-stats {
    .ais-stats--time {
      display: none;
    }
  }

  // Menu widget
  &.ais-menu {
    .ais-menu--item__active {
      .ais-menu--link {
        color: theme-color("primary");
        &:before {
          color: theme-color("primary");
        }
      }
    }

    .ais-menu--link {
      display: block;
      font-size: $font-size-base;
      overflow: hidden;
      width: 100%;

      &:before {
        color: theme-color("primary");
        content: '';
        display: inline-block;
        font-family: 'Font Awesome 5 Free';
        font-size: 14px;
        margin-right: 5px;
      }
    }


  }

  //Faceting widgets
  &.ais-refinement-list {
    .ais-refinement-list--item__active {
      .ais-refinement-list--label {
        &:hover {
          color: theme-color("primary");
          text-decoration: line-through;
          &:after,  {
            background-color: theme-color-level("primary", -0.1);
          }
        }

        &:after,  {
          background-color: theme-color("primary");
          content: " ";
          display: inline-block;
          height: 10px;
          left: 2px;
          position: absolute;
          top: 2px;
          width: 10px;
        }
      }
    }

    .ais-refinement-list--label {
      cursor: pointer;
      display: block;
      font-size: $font-size-sm;
      font-weight: normal;
      line-height: 16px;
      position: relative;
      transition: .5s;
      width: 100%;

      &:hover {
        color: theme-color("primary");
      }

      &:before {
        border: 1px solid $gray-600;
        content: " ";
        height: 14px;
        width: 14px;
        background-color: transparent;
        display: inline-block;
        font-size: 22px;
      }

      &:hover:before {
        background-color: $gray-600;
      }

      .ais-refinement-list--checkbox {
        display: none;

      }
    }

    //Search input
    .sbx-sffv {
      margin-bottom: 10px;
    }

  }
}
.filter-btn {
  padding-bottom: 10px;
  padding-top: 10px;
}
.filters-xs {
  background-color: $white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;

  .content {
    height: calc(100% - 40px);
    overflow: auto;
  }

  .footer {
    height: 40px;
    .btn {
      width: 80%;
    }
  }

  .ais-root__collapsible {
    background-color: grays("200");
  }

  .ais-root__collapsed {
    background-color: $white;
  }

  .ais-root {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;

    .ais-refinement-list--item {
      border-bottom: 1px solid $white;

      vertical-align: middle;

      & > div {
        display: inline;
        .ais-refinement-list--label {
          font-size: $font-size-lg;
          padding-top: 20px;
          padding-bottom: 20px;

          &:before {

          }
        }

      }
    }
  }
  .title-separator {
    font-weight: bold;
    padding: 0;
  }
}
*/