.cart-breadcrumb {
  display: table;
  width: 100%;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  a {
    text-decoration: none;
  }
  li {
    display: table-cell;
    text-align: center;
    width: 25%;
    .breadcrumb-number {

      background-color: $gray-400;
      color: $white;
      display: block;
      line-height: 40px;
      font-size: 28px;
      text-align: center;
      height: 40px;
      width: 40px;
      margin: auto;
    }
    .breadcrumb-title {
      color: $gray-400;
      font-size: 1rem;
      line-height: 30px;
    }

    &.active {
      .breadcrumb-number {
        background-color: theme-color("primary");
      }
      .breadcrumb-title {
        color: theme-color("primary");
      }

    }
  }
}
.cart-breadcrumbs {
  display: table;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px 0;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  @media (max-width: media-breakpoint-down(xs)) {
    padding: 0px;
    width: 100%;
  }
  li {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: top;

    .breadcrumb-number {
      .breadcrumb-counter {
        background: grays("200") none repeat scroll 0 0;
        border-radius: 50%;
        color: white;
        display: inline-block;
        font-size: 18px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        transition: all 0.2s ease-in-out 0s;
        width: 36px;
      }
    }
    .breadcrumb-title {
      display: block;
      color: grays("200");
    }
    &::after, &::before {
      width: calc(50% - 18px);
      height: 1px;
      background-color: grays("200");
      content: "";
      position: absolute;
      margin: auto;
      top: 18px;
    }
    &::before {
      left: 0px;
    }
    &::after {
      right: 0px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
    &.active {
      &::before, &::after {
        background: theme-colors("success");
      }
      &+li {
        &.active::before {
          background: theme-colors("success");
        }
        &::before {
          background: linear-gradient(to right, theme-colors("success"), grays("200"));
        }

      }

      .breadcrumb-counter {
        background-color: theme-colors("success");

      }
      .breadcrumb-title {
        color: theme-colors("success");
      }
    }
    @media (max-width: media-breakpoint-down(md)) {

      &:first-child {
        text-align: left;
        width:18%;
        &::after {
          width: calc(100% - 25px);

        }
      }
      &:last-child {
        text-align: right;
        width:18%;
        &::before {
          width: calc(100% - 25px);

        }
      }
      .breadcrumb-title {
        display: none;
      }
      &.active:last-child {
        .breadcrumb-title {
          display: block;
        }
      }
    }
  }
}

.table tr.cart-line {
  & > td {
    vertical-align: middle;
  }
  .cart-line-desc {
    .thumbnail {
      display: inline-block;
    }
  }

  .cart_line-price {
    vertical-align: middle;
  }

  .cart-line-qty {
    vertical-align: middle;
    max-width: 160px;
    .input-group {

      margin-right: 30px;
    }
  }

  .cart_line-subtotal {
    vertical-align: middle;
  }
}


.cart-compact {
  width: 100%;
  background-color: theme-colors("danger");
  .checkout {
    padding-top: 30px;
    button {
      //width:80%;
      font-size: 18px
    }
  }

  .close-side {
    line-height:45px;
    display: block;
    .fa {
      cursor: pointer;
    }
  }

  .table.cart-list {
    width:100%;

    thead {
      display: none;
    }

    tbody {
      tr {
        background: transparent;
        border-bottom: 1px solid grays('200');
        & > * {
          border-color: transparent;
          display: block;
          margin: 0;
          padding: 0;
          padding-bottom: 10px;
          vertical-align: top;


          &.cart-line-desc {
            img {
              display: inline-block;
              padding: 0;
              vertical-align: top;
              width: 25%;

            }
            .cart-line-label {

              display: inline-block;
              font-size: $font-size-base;
              vertical-align: top;
              width: 70%
            }
            display: inline-block;
            font-weight: normal;
            padding-top: 10px;
            width: 100%;
          }

          &.cart-line-price {
            display: none;
          }

          &.cart-line-qty {
            display: inline-block;
            width: 144px;
            .input-item-qty {
              input {
                width: 36px;
                height: 30px;
                margin: 0;
                padding: 0;
                border-color: #232F3E;
                color: #232F3E;
                text-align: center;
                border-left: none;
                border-right: none;
              }
              .input-group-btn {
                button {
                  background-color: transparent;
                  border-color: #232f3e;
                  color: #232f3e;
                  height: 30px;
                  margin: 0;
                  padding: 0;
                  width: 35px;
                }
              }
            }
          }

          &.cart-line-subtotal {
            display: inline-block;
            width: calc(100% - 202px);
          }

          &.cart-line-delete {
            cursor: pointer;
            display: inline-block;
            padding-left: 5px;
            width: calc(80px);
          }
        }
      }
    }
  }
}

.cart-header {

  height: 120px;
  padding-bottom: 20px;
  padding-top: 20px;

  .brand {

  }
}

.modal-payment {
  #payment-form {
    opacity: 0;
  }
  .modal-header {
    background-color: theme-color("info");
    color: $white;
  }
  .modal-body {
    background: $gray-200;
    position: relative;
    .modal-loader {
      position: absolute;
      margin: auto;
      width: 100%;
      top: 30%;
    }
  }
  .payment-card-row {
    max-width: 650px;
    border: 1px solid $gray-400;
    box-shadow: 0 1px 3px 0 $gray-400;
    border-radius: 10px;
    padding: 20px;
    background: $white;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .StripeElement, .form-control {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid $gray-400;
    box-shadow: 0 1px 3px 0 $gray-400;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;

  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}
