
//Bootstrap
$white:  #fff ;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:    #042654;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #DB2E2D;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #0f8914;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $cyan,
  secondary: #EEEEEE,
  success: $green,
  info: #1B626D,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  gray: #6a7a88,
  dark: $gray-800

);
$enable-rounded: true;
$enable-shadows: true;
//Breadcrumb
$breadcrumb-padding-y:          .75rem;
$breadcrumb-padding-x:          1rem;
$breadcrumb-item-padding:       .5rem;

$breadcrumb-bg:                 inherit;
$breadcrumb-divider-color:      inherit;
$breadcrumb-active-color:       inherit;
$breadcrumb-divider:            " > ";

//fonts
$font-family-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

//Heading
$h1-font-size: 2.9rem;
$h2-font-size: 2.3rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.3rem;
$h5-font-size: 1.2rem;
$h6-font-size: 1rem;
$headings-line-height:   1.1;

// Header
$header-bg: $white;
$header-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.3);
// Buttons

$input-btn-padding-y:       .5rem;
$input-btn-padding-x:       .75rem;
$input-btn-line-height:     1.25;

$input-btn-padding-y-sm:    .25rem;
$input-btn-padding-x-sm:    .5rem;
$input-btn-line-height-sm:  1.5;

$input-btn-padding-y-lg:    .5rem;
$input-btn-padding-x-lg:    1rem;
$input-btn-line-height-lg:  1.5;

// Navs
$nav-tabs-border-color:                       #ddd;
$nav-tabs-link-active-border-color:           #ddd;

//card
$card-border-radius: 0;

//Theme
$max-content-width: 1200px; // container max size
$page-max-width: 2000px;
$page-shadow: none;
$main-bg:  transparent;

$main-showcase-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.3);
$main-showcase-float: true;
$main-showcase-width: 100%;
$main-showcase-bg: $cyan;
$main-showcase-color: $white;
