.loader {
  .loader-icon {
    position: absolute;
    top: 35%;
    left: 35%;

    width: 30%;
    height: 30%;
    margin: 0 auto;
    border: 1px solid rgba(23,163,184,0.98);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
  }
  @keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
  }

  @-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
  }

  @-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
  }

  @-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }

  @-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
  }
  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
  overflow: hidden;
  img {
    opacity:1;
    position: absolute;
    top:0;
    bottom:0;
    transition: opacity 500ms ease-in;

  }
}
