.navbar-header {
  #header-search-hit {
    display: none;
    width: 100%;
  }
  .algolia-autocomplete {
    width: 100%;
    .aa-input {
      width: 100%;
    }
  }
}

.categories-menu {
  padding: 10px;
  li {
    border-right: 1px dotted $gray-200;
    text-align: center;
    &:last-child {
      border-right: 0;
      a {
        padding-right: 0;
      }
    }

    &:first-child {
      a {
        padding-left: 0;
      }
    }

    a {
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
    }
  }
}

.header-dropdown-menu {
  background-color: $white;
  border: 1px solid $gray-200;
  box-shadow: 2px 2px 15px 8px rgba(35, 47, 62, 0.3);
  color: $gray-500;
  content: '';
  display: block;
  margin: 0;
  margin-top: 34px;
  min-height: 150px;
  top: 10px;
  width: calc(100% + 40px);
  .product-image {
    max-width: 100px;
  }
}

.card {
  margin-bottom: 15px;
  margin-top: 15px;
}
