@include media-breakpoint-down(sm) {
  main {
    padding-top: 56px;
  }
}
.navbar-header {
  background: $header-bg;
  box-shadow: 0px 4px 5px rgba(0,0,0,.26);
  position: sticky;
  z-index: 1000;
  @include media-breakpoint-down(sm) {
    box-shadow: $header-shadow;
    background: $gray-100;
    //background-color: #fff;
    position: fixed;

    left: 0;
    width: 100%;
    overflow: hidden;
    height: 56px;
    z-index: 2000;
    padding: 7px;
    .navbar-brand img  {
      height: 40px;
    }
  }
  .search-input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding-left: 0;
  }
  #header-search-hit {
    display: none;
    width: 100%;
  }
  .algolia-autocomplete {
    width: calc(100% - 41px);
    .aa-input {
      width: 100%;
    }
  }
  .nav-container {
    max-width: 1200px;
    margin: auto;
  }
}
.dropdown-category {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 1px solid $gray-300;
  border-top: 3px solid theme-color('primary');
  box-shadow: 0px 9px 15px 0px rgba(35, 47, 62, 0.3);
  background: $white;
  display: none;
  position: absolute;
  margin: 0;
  margin-top: 37px;
  z-index:300;
  left: 0;
  width: 100%;
  top: 0;

  ul {
    margin:0;
    padding:0;
    li {
      list-style: none;
    }
  }
}
.categories-menu {
  position: relative;

  & > li {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    display: flex;
    &:hover {
      background-color: theme-color('primary');
      a {
        color: $white;
      }
    }
    a {
      //text-transform: uppercase;
      font-weight: bold;
    }
  }
}
.nav-header-controls {
  .nav-header-controls-cart, .nav-header-controls-user {
    position: relative;
    &:hover {
      .header-controls-dropdown {

        .header-controls-dropdown-content {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .cart-item-number {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 24px;
      font-size: 1.2rem;
      font-weight: bold;
      color: theme-color('warning');
    }
    .header-controls-dropdown {
      @include media-breakpoint-down(sm) {
        display: none
      }
      .header-controls-dropdown-content {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        background: $white;
        box-sizing: border-box;
        position: absolute;

        border-top: 5px solid theme-color('primary');
        box-shadow: 0px 9px 15px 0px rgba(35, 47, 62, 0.3);
        right: 0;
        top: 85px;
        min-width: 300px;
        max-width: 400px;
        width: 100vw;
        z-index: 2000;
        &:before {
          content: " ";
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;

          border-bottom: 10px solid theme-color('primary');
          position: absolute;
          top: -15px;
          right: 60px;
        }
        .header-controls-dropdown-item {
          box-sizing: border-box;
          border-bottom: 1px dashed $gray-400;
          padding: 1rem;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
.header-dropdown-menu {
  background-color: $white;
  border: 1px solid $gray-200;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  color: $gray-500;
  content: '';
  display: block;
  margin: 0;
  margin-top: 34px;
  min-height: 150px;
  top: 10px;
  transition: ease-in all 200ms;
  width: 85vw !important;
  .product-image {
    max-width: 100px;
  }
}

.card {
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-mobile {
  position: fixed;
  left: 0;
  width: 100%;
}
