.border {
  & > .product-thumbnail {
    border: none;
  }
}
%product-thumbnail-horizontal {
  /*Only for SM MD LG XL screen*/
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    .d-horizontal-only {
      display: block;
    }
    .d-vertical-only {
      display: none;
    }
    .product-thumbnail-img {
      order: 1;
      height: 100%;
      width: 20%
    }
    .product-thumbnail-price {
      order: 3;
      text-align: right;
      height: 100%;
      width: 20%;
      border-left: 1px solid $gray-300;
      .product-price-value {
        font-size: 2rem;
      }
    }
    .product-thumbnail-name {
      order: 2;
      text-align: left;
      height: 100%;
      width: 60%;

    }
    .product-add-to-cart {
      opacity: 1;
    }

    @include media-breakpoint-down(sm) {
      .product-thumbnail-name {
        width: 70%;
      }
      .product-thumbnail-price {
        width: 30%;
        .product-price-value {
          font-size: 1rem;
        }
      }
    }
  }
}
.product-col {
  &.product-col-horizontal {
    min-width: 100%;
    border: 1px solid red;
    .product-thumbnail {
        @extend %product-thumbnail-horizontal;
    }
  }
}
.product-thumbnail {
  border-width:5px;
  border-color: transparent;
  cursor: pointer;
  transition: all 200ms ease-in;
  &:hover {
    border-color: $gray-200;
    .product-add-to-cart  {
      opacity: 1;
    }
  }
  .product-add-to-cart {
    opacity:0;
  }
  .product-thumbnail-img {
    position: relative;
    .carousel {
      .carousel-control-prev,
      .carousel-control-next {

      }
    }
    .badge-discount {
      bottom: 2rem;
      position: absolute;

    }
  }
  .product-thumbnail-price {
    text-align: center;
  }
  .product-thumbnail-name {
    text-align: center;
    font-size: 0.8rem;
  }
  .d-vertical-only {
    display: block;
  }
  .d-horizontal-only {
    display: none;
  }
  &.product-thumbnail-horizontal {
    @extend %product-thumbnail-horizontal;

  }
  @include media-breakpoint-down(xs) {
    border: 0;
    border-bottom: 1px solid $gray-300;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    .d-horizontal-only {
      display: block;
    }
    .d-vertical-only {
      display: none;
    }
    .product-thumbnail-img {
      order: 1;
      height: auto;
      min-width: 80px;
      width: 33%;
    }
    .product-thumbnail-price {

      //bottom: 0;
      height: auto;
      order: 3;
      //position: absolute;
      //right: 0;
      text-align: right;
      //width: 60%;
      //background-color: theme-color('primary');
      .product-price-value {
        font-size: 1.2rem;
      }
    }
    .product-thumbnail-name {
      font-size: 1rem;
      order: 2;
      text-align: left;
      height: auto;
      width: 66%;

    }
    .product-add-to-cart {
      display: none;
    }
    .product-short-description {
      display: none;
    }
  }
}

.product-compact {
    padding: 0;
    margin:0;
    .product-image {
      width: 33%;
      padding: 5px;
      margin: 0;
    }
    .product-desc {
      width: 66%;
      margin: 0;
    }
    .well {
      border: 0;
      border-bottom: 1px solid grays("100");
      box-shadow: none;
      padding: 0;
      padding-left: 10px;
      padding-right: 10px;
      &:hover {
        box-shadow: none;
      }
      .well-content {
        padding: 0;
        margin: 0;
      }
      .well-footer {
        display: none;
      }
    }
  }
//Stock stock
.product-stock-state {
  .in_stock, .in_limited_stock {
    color: theme-colors("success");
    &:before {
      content: "ï€Œ";
      font-family: 'Font Awesome 5 Free';
      font-weight: bold;
    }
  }

}
//Page section menu
.product-liste-section {
  border-bottom: 3px solid theme-color("primary");
  margin-left: -15px;
  margin-right: -15px;

  width: calc(100%  30px) !important;
  @include media-breakpoint-down(sm) {
    margin-left: -20px;
    margin-top: 20px;
    border-bottom: none;
  }

  //width: 25%;
  a {
    color: theme-color("primary");
    display: block;

    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 5px;
  }
  @include media-breakpoint-down(sm) {
    li {
      box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.3);
      a {

        font-size: 1rem;
      }
      &:not(.active) {
        display: none;
      }
    }

  }
  .active {
    background-color: theme-color("primary");
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    a {
      color: $white;
      font-weight: bold;
    }
  }
}

.product-form-qty {
  padding-bottom: 20px;
  padding-top: 20px;
  .input-group {

    .input-group-addon {
      background-color: theme-color("dark");
      border-color: theme-color("dark");
      color: color("white");
      cursor: pointer;
    }
    .form-control {
      border-color: theme-color("dark");
    }
  }
}
.product-qty {
  .input-group-addon {
    cursor: pointer;
  }
}
.product-review {
  .product-average-review {
  }
  .review {
    border-bottom: 1px solid grays('100');
    padding-top: 20px;
  }
}

.product-search-list {

  .product-thumbnail {
    border: none;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    border-bottom: 1px solid $gray-300;
    padding-top:1rem;
    .product-thumbnail-img {
      order: 1;
      img {
        min-width: 50px;
        max-width: 100px;
        width: auto;

      }
    }
    .product-thumbnail-price {
      order: 3;
      text-align: right;
      height: 100%;
      width: 30%;

    }
    .product-thumbnail-name {
      order: 2;
      text-align: left;
      height: 100%;
      width: auto
      a {
        font-size: 1rem;
      }
    }
    .product-add-to-cart {
      display: none;
    }
  }
}

.showcase {
  background-color: #F9F9F9;
  .product-thumbnail {
    box-shadow: 0px 0px 6px 0px #e7ebf0;
  }
}
