.text-bold, strong, b {
  font-family: $font-family-sans-serif;
  font-weight: 500;
}
.text-bolder, strong, b {
  font-family: $font-family-sans-serif;
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}
.text-strike {
  text-decoration: strike;
}
.text-underline {
  text-decoration: underline;
}

.text-size-sm {
  font-size: $font-size-sm;
}

.text-size-md {
  font-size: $font-size-base;
}

.text-size-lg {
  font-size: $font-size-lg;
}

.text-size-1xl{
  font-size: floor(($font-size-base * 1.25));
}

.text-size-2xl {
  font-size: floor(($font-size-base * 1.7));
}

.text-size-3xl {
  font-size: floor(($font-size-base * 2));
}

.text-size-4xl {
  font-size: floor(($font-size-base * 2.1));
}

.text-size-5xl {
  font-size: floor(($font-size-base * 2.4));
}

.text-size-6xl {
  font-size: floor(($font-size-base * 2.6));
}

.text-size-7xl {
  font-size: floor(($font-size-base * 3));
}

.text-size-8xl {
  font-size: floor(($font-size-base * 3.5));
}

.text-size-9xl {
  font-size: floor(($font-size-base * 4));
}
.text-heading {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}
.text-gray {
  color: grays("700");
}
.text-gray-dark {
  color: grays("800");
}
.text-gray-darker {
  color: grays("900");
}

.title-decorator:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 0.9em;
  color: theme-colors("danger");
  content:"ï„µ";

  //transform: rotate(-45deg);
}
