.wait-overlay {
  background-color: grays("700");
  color: #000;
  height: 100%;
  opacity: .2;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 4000;

  i.fa {
    left: calc(50% - 40px);
    position: absolute;
    right: 50%;
    top: calc(50% - 40px);
  }
}
