---
title: Cart Step 5
position: 104
seo_title: Checkout | Shopinvader demo
slug: checkout
handle: cart_checkout
position: 4
listed: false
published: true
is_layout: false

sections_content:
  cart:
    settings:
      large_size: true
      submit_label: Continue
      cart_current_step: cart_address
      cart_next_step: cart_checkout
      origin_data: cart
    blocks:
    - type: cart_payment
      settings:
        cell_size: 75
        title: "<h3>Payment</h3>"
    - type: cart_address
      settings:
        cell_size: 50
        address_type: shipping
        title: "<h3>Shipping address</h3>"
        is_child: true
    - type: cart_address
      settings:
        cell_size: 50
        address_type: invoicing
        title: "<h3>Invoice address</h3>"
        is_child: true
    - type: cart_summary
      settings:
        cell_size: 25
        display_border: true
        display_submit: false
        title: Your order
        display_lines: true
    - type: cell_text
      settings:
        cell_size: 100
        content: "<br><h4><b>Need more Help ?</b></h4><p>Call us on 00112233445566<br>
          Monday - Friday: 8am - 8pm<br> Saturday - Sunday: 9am - 7pm</p>"
        is_child: true
    - type: cart_quotation
      settings:
        cell_size: 100
        title: "<h4>Request a quotation</h4>"
        content: If you want a quotation you can request our teams to study an offer
          customized to your needs and your situation.
        btn_label: Request quotation
        is_child: true

sections_dropzone_content:
  - type: cards
    settings:
      margin: none
    blocks: []
  - type: card
    settings:
      title: "<h4><i class='ti-help-alt pr-1'></i>  <b>Help</b></h4>"
      content: "<p>Call us on 00112233445566<br> Monday - Friday: 8am - 8pm<br> Saturday
        - Sunday: 9am - 7pm</p>"
    blocks: []
  - type: card
    settings:
      title: "<h4><i class='ti-truck pr-1'></i>  <b>Deliver</b></h4>"
      content: "<p>Track the progress of your order in real time.</p>"
    blocks: []
  - type: card
    settings:
      title: "<h4><i class='ti-back-left pr-1'></i>  <b>Returns</b></h4>"
      content: "<p>1 month money-back returns if you change your mind.</p>"
    blocks: []


---
{% extends 'layouts/checkout' %}
{% block 'body/cart_content' %}
  {% section cart_checkout %}
{% endblock %}