---
title: Cart Step 2
position: 101
published: true
listed: false
handle: cart_login
slug: login
seo_title: Sign in or register | Shopinvader demo
sections_content:
  cart_login:
    settings:
      login_title: Sign in
      login_desc: Sign in to proccess to checkout
      login_label: Sign in
      register_title: No account?
      register_desc: >
        <p>
        Create new account quickly and 
        enjoy faster checkout with an account.
        </p>
      register_label: Create Account
    blocks: []
---

{% extends 'layouts/checkout' %}
{% block 'body/cart_content' %}
  {% section cart_login %}
{% endblock %}