---
title: Cancel order | Space Discount
slug: payment_failed
handle: cart_cancel
position: 4
listed: false
published: true
is_layout: false
---
{% extends "layouts/default" %}
{% block 'main' %}
  <div class="container main-content">
    <div class="row">
      <div class="col-xs-12">
        {% include 'cart_breadcrumbs' with cart_step: 4%}
        <h1 class="text-3xl bold">
        {% editable_text 'title', rows: 1, format:'html' %}
          Sorry, your payment failed
        {% endeditable_text %}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
        {% editable_text 'message', rows: 1, format:'html' %}
          <p>We were unable to process your transaction</p>
          <p>If the problem persists, please contact us to complete your order.</p>
        {% endeditable_text %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
        {% editable_text 'signature', rows: 1, format:'raw' %}
          <br>
          <b>The Space Discount team</b>
        {% endeditable_text %}
      </p>
      </div>
    </div>
  </div>
{% endblock %}
