---
{
  "name": "Global Error Message",
  "class": "",
  "icon": "text",
  "keep_icon": true,
  "keep_name": true,
  "settings": [
    {
      "label": "Title",
      "id": "title",
      "type": "text",
      "html": true
    }, {
      "label": "Message",
      "id": "message",
      "type": "text",
      "html": true,
      "nb_rows": 15
    }
  ],
  "default": {
    "name": "Global Error message",
    "category": "System",
    "settings": {
      "title": "<i class='fa fa-exclamation-triangle'></i>  Oops! Something went wrong!",
      "message": "<b>The application has encountered an unknown error.</b><p>It doesn't appear to have affected your data, but our technical staff have been automatically notified and will be looking into this with the utmost urgency.</p>"
    }
  }
}
---
<div class="modal fade" id="generic-error-message" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <div class="h5">
          {{ section.settings.title }}
        </div>
      </div>
      <div class="modal-body">
        {{ section.settings.message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'close' | translate}}</button>
      </div>
    </div>
  </div>
</div>
