---
title: Conta
handle: account
slug: account
seo_title: Minha conta | Shopinvader demo
is_layout: false
sections_content: >
  {
    "account_login": {
      "settings": {
        "cells_align": "center",
        "cells_margin": "lg",
        "cells_direction": "row",
        "header_content": "<h1>Welcome</h1>"
      },
      "blocks": [
        {
          "type": "card_login",
          "settings": {
            "cell_size": "md",
            "display_border": false,
            "display_shadow": false,
            "title": "<h2>Entrar</h2>",
            "btn_label": "ENTRAR",
            "theme": "none",
            "target_url": "account/orders",
            "reset_url": "account/reset-password-request"
          }
        },
        {
          "type": "card_register",
          "settings": {
            "cell_size": "md",
            "display_border": false,
            "display_shadow": false,
            "title": "<h2>Novo no shopinvader demo ? </h2>",
            "content": "Faça mais com uma conta<ul><li>Compre mais rápido</li><li>Salve seus endereços de entrega</li><li>Acompanhe seus pedidos</li></ul>",
            "btn_label": "CRIAR CONTA ",
            "theme": "light",
            "target_url": "account/register"
          }
        }
      ]
    }
  }
---
{% extends 'layouts/default' %}
{% block "body/content" %}
  {% action 'Redirection when customer is already logged' %}
  if (getProp('current_customer')) {
    redirectTo('account_index');
  }
  {% endaction %}
  <div class="pt-2 pb-2">
    {% section 'account_login' %}
  </div>
  <div class="pt-2 pb-2">
    {% sections_dropzone %}
  </div>
{% endblock %}