---
title: My shopping cart | Shopinvader demo
published: true
listed: false
handle: cart_index
slug: cart
---
{% extends 'layouts/checkout' %}

{% block "content/main" %}

  <div class="row"  id="cart-index">

    <div class="col-lg-8 col-xl-9" data-shopinvader-container id="cart-line">
      {% include 'cart_list' with cart: store.cart %}
    </div>
    <div class="col-lg-4 col-xl-3 mb-4" data-shopinvader-container id="cart-total">
      {% include 'cart_total' with cart: store.cart %}
      <form method="post" action="{% path_to cart_login %}"  id="cart_update_form">
        <input type="hidden" name="action_proxy" value="cart">
        <input type="hidden" name="action_method" value="PUT">
        <input type="hidden" name="current_step" value="{{ page.handle }}">
        <input type="hidden" name="next_step" value="cart_login">
        <button class="btn btn-primary text-lg btn-lg  btn-block btn-block-xs" type="submit">
          {% editable_text checkout_button, fixed: true, rows: 1 %}
            Continuer <i class="fa fa-angle-right"></i>
          {% endeditable_text %}
        </button>
      </form>
    </div>
    <div class="col-lg-9 col-xl-12">
      {% editable_text "cart_help", hint: "Cart help message" %}
      <strong>Questions? We can help</strong>
      <div class="">
        Online Customer Support: <br>
        +33 (0)1 00 00 00 00
        <br><br>
        Email : contact@shopinvader.yeah
      </div>

      {% endeditable_text %}
    </div>
  </div>

{% endblock %}
