---
title: Home page
published: true
handle: home

---
{% extends 'layouts/simple' %}

{% block content/main %}
{% comment%}

{%endcomment%}
<div class="row justify-content-center  main-showcase">
  <div class="container">
    {% with_scope level: 0%}
      {%assign category = store.categories.first%}
    {%endwith_scope%}
    {%include category_showcase with category%}

  </div>

</div>
<div class="row pt-md-4 justify-content-center">
  <div class="container pt-md-4  pb-md-4 ">
    <div class="row">
      <div class="col-12">
        <h2 class="text-primary text-center">
          {% editable_text "bestseller_title", hint: "Bestseller title in homepage" %}
          <span class="text-warning">Today's</span> Deals
          {% endeditable_text %}
        </h2>
      </div>
    </div>
    <div class="row align-items-stretch justify-content-center align-items-stretch">
      {% with_scope main: true %}
        {% paginate store.products by 8%}
          {% for product in paginate.collection %}
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2  ">
            {% include 'product_thumbnail' with product, with_richdata: true %}
          </div>
          {% endfor %}
        {% endpaginate %}
      {% endwith_scope %}
    </div>
  </div>
</div>
<div class="row justify-content-center banner-cover banner-quote" style="background-image:url({% editable_file 'banner-quote', resize: '2500x>' %}/images/banner-info.jpg{% endeditable_file %})">
  <div class="card col-11 col-sm-10 col-md-8 col-lg-6">
    <div class="card-body">
      <div class="">
        <div >
          {% editable_text "blog_title", hint: "Blog banner - title", rows: 1 %}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          {% endeditable_text %}
        </div>
        <p class="small">
          {% editable_text "blog_title", hint: "Blog banner - title", rows: 1 %}
          <strong>Integer posuere </strong>- Erat a ante.
          <div class="text-warning small m-0 p-0">
            <i class="fa fa-star "></i>
            <i class="fa fa-star "></i>
            <i class="fa fa-star "></i>
            <i class="fa fa-star "></i>
            <i class="far fa-star "></i>
             4 /5
          </div>
          {% endeditable_text %}
        </p>
      </div>

    </div>
  </div>
</div>

{% if contents.posts.size > 0 %}
<div class="row pt-4 pb-4">
  <div class="col-12 pt-4">
    <div class="container pb-4">
      <div class="row">
        <div class="col-12 text-center pb-4">
          <h2 class="h1">
          {% editable_text post_title %}
            <span class="text-primary">Our</span> <span class="text-warning">reviews</span>
          {% endeditable_text %}
          </h2>
        </div>
      </div>
      <div class="row post-mozaic">
      {% paginate contents.posts by 4%}
        {% for post in paginate.collection %}
        <div class="col-12 col-sm-6 post-mozaic-item">
            <div class="post-mozaic-img" style="background-image:url({{post.thumbnails.url | default: site.metafields.theme.noimage }})">
            </div>
            <div class="post-mozaic-content ">
             <h3 class="text-uppercase font-weight-bold">{{post.name}}</h3>
             <p class="small">{{post.short_description}}</p>
              <a href="{% path_to post %}" class="text-uppercase">
                {{'show_more' | translate}} <i class="fa fa-angle-right"></i>
              </a>
          </div>
        </div>
        {% endfor %}
      {% endpaginate %}
      </div>
    </div>
  </div>
</div>
  {% endif %}

  <div class="row bg-primary text-white pt-4 pb-4">
    <div class="col-12">
      <div class="container pt-4 pb-4">
        <div class="row ">
          <div class="col-12 ">
            <h2>
            {% editable_text "blog_title", hint: "Blog post title in homepage" %}
            Our products reviews for you
            {% endeditable_text %}
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            {% editable_text first_column %}
              <h3 >Heading 1</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            {% endeditable_text %}
          </div>
          <div class="col-lg-4">
            {% editable_text second_column %}
              <h3>Heading 2</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            {% endeditable_text %}
         </div>
          <div class="col-lg-4">
            {% editable_text third_column %}
              <h3>Heading 3</h3>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            {% endeditable_text %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
