---
title: Simple
is_layout: true
---
{% extends 'layouts/default' %}

{% block content %}
<div class="row">
  <div class="col-12">
    <ul class="cart-breadcrumb">

    </ul>
  </div>
</div>
  {% block main %}
  {% endblock %}
{% endblock %}
