---
title: Cart
checkout: checkout
is_layout: false
---

{% extends 'layouts/default' %}
{% block 'header' %}
  <div class="container cart-header">
    <div class="row">
      <div class="col-12 brand">
      {% if site.metafields.theme.logo %}
      <a href="{% path_to home %}">
        <img src="{{ site.metafields.theme.logo }}" alt="{{ site.name }}"  class="img-responsive"/>
      </a>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block 'content' %}

{% case page.handle %}
  {% when 'cart_login' %}
    {% assign cart_step = 2 %}
  {% when 'cart_address' %}
    {% assign cart_step = 2 %}
  {% when 'cart_checkout' %}
    {% assign cart_step = 3 %}
  {% when 'cart_end' %}
    {% assign cart_step = 4 %}
  {% else %}
    {% assign cart_step = 1 %}
{% endcase %}
    <div class="row justify-content-center bg-light pt-4 pb-4">
      <div class="col-12 col-xl-10">
        {% include 'cart_breadcrumbs' with cart_step%}
        <h1 class="title-decorator text-primary">
          {% editable_text "cart_title", hint: "Cart title in homepage" %}
          My shopping cart
          {% endeditable_text %}
        </h1>
        {% if store.cart.lines.count != null and store.cart.lines.count != 0 %}
          {% block main %}
          {% endblock %}
        {% else %}
          <div class="container">
            <div class="row">
              <div class="col-12">
                {% editable_text "cart_empty", hint: "Cart empty" %}
                Your shopping cart is empty :(
                {% endeditable_text %}
                <div class="text-center">
                  <a href="{% path_to home%}" class="btn btn-lg btn-primary">
                    {{'cart_continue_shopping' | translate}}
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
