---
title: Cart
checkout: checkout
is_layout: false
---

{% extends 'layouts/base' %}
{% block 'body' %}
  <div class="page shadow">
    <header>
      {% global_section 'header_lite', id:'cart_header',  placement: 'top'%}
    </header>
    <main>
      <div class="container-fluid">
        {% include 'store_notifications' %}
      </div>
      {% case page.handle %}
        {% when 'cart_login' %}
          {% assign cart_step = 2 %}
        {% when 'cart_address' %}
          {% assign cart_step = 2 %}
        {% when 'cart_checkout' %}
          {% assign cart_step = 3 %}
        {% when 'cart_end' %}
          {% assign cart_step = 4 %}
        {% else %}
          {% assign cart_step = 1 %}
      {% endcase %}
      {% if store.cart == false or store.cart.lines.count == 0 %}
        {% action 'redirect to cart index' %}
          redirectTo('cart_index');
        {% endaction %}
      {% endif %}
      <div class="row">
        <div class="col-12" data-shopinvader-container id="cart-content">
          {% global_section 'cart_breadcrumb' %}
          <div class="pt-4 pb-4">
            {% block 'cart_content' %}
            {% endblock %}
          </div>
          {% sections_dropzone %}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
