---
title: Default layout
is_layout: false
---
{% extends 'layouts/base' %}
{% block 'body' %}
  <div class="page shadow">
    <header>
      {% block header %}
        {% global_section 'header', id:'page_header'%}
      {% endblock %}
    </header>
    <main>
      <div class="container-fluid">
        {% include 'store_notifications' %}
      </div>
      {% block content %}
      {% endblock %}
    </main>
    {% global_section 'footer',   id:'page_footer',  placement: 'bottom'%}
  </div>
{% endblock %}