---
title: lite
is_layout: false
---
{% extends 'layouts/base' %}
{% block 'body' %}
  <header>
    {% block 'header' %}
      {% global_section 'header_lite', id:'cart_header',  placement: 'top'%}
    {% endblock %}
  </header>
  <div class="page shadow">
    <main>
      <div class="container-fluid">
        {% include 'store_notifications' %}
      </div>
      
      {% block content %}
      {% endblock %}
    </main>
  </div>
{% endblock %}