.section-product-page {
	padding-top: 2rem;
	.grid-row {
		justify-content:start;
	}
	.product-theme-light {
		background-color: theme-color('light');
		padding: 2rem;
		box-shadow: $box-shadow;
	}
	.product-theme-border {
		border: 1px solid $border-color;
		box-shadow: $box-shadow;
		padding: 2rem; 
	}
	.product-theme-header {
		.block-product_title {
			border: 1px solid $border-color;
			background-color:$white;
			box-shadow: $box-shadow-sm;
			padding: 1rem; 
		}
	}
	.block-breadcrumb {
		.breadcrumb-item {
			font-size: .8rem;
			text-transform: uppercase;
			&:before {
				color: $gray-400;
			}
			a {
				color: $gray-900;

			}
			&:last-child {
				color: theme-color('primary');
			}
		}
		
	}
	.block-product_title {
		a.product-title {
			color: $gray-900;
			.product-model-name {
				display: block;
				font-weight: bold;
				color: $gray-900;
				font-size: 2rem;
				text-transform: uppercase;
			}

		}
		.product-brand,
		.product-category {
			a {
				padding-right: .5rem;
				color: $gray-500;	
			}
		}
	}
}