@import "cart/*";
.cart, .cart-modal {
	&.cart {
		display: grid;
		grid-gap: 1rem;
		grid-template:"title" 
										"items" 
										"total"
										"desc"
										/ 1fr;

		@include media-breakpoint-up(sm) {
			grid-template:"title title" 
									"items items" 
									"desc total"
									/ 1fr 1fr;
		}

		@include media-breakpoint-up(lg) {
			grid-template:"title title" 
									"items total" 
									"desc total"
									/ 2fr 1fr;
		}
		.cart-items {
			grid-area: items;
			.cart-item {
				border: 1px solid $border-color;
				padding: 1rem; 
				margin-bottom: 1rem;
			}
		}
		.cart-desc {
			grid-area: desc;
		}
		.cart-title {
			grid-area: title;
			font-size: 1.7rem;
			font-family: $headings-font-family;
			padding-bottom: 1rem;
		}
		.cart-total {
			grid-area: total;
			.cart-total-content {
				border: 1px solid $border-color;
				padding: 1.5rem;
				.cart-total-title {
					text-align: center;
					padding-bottom: 1.5rem;
					font-weight: bold;
					font-size: 1.5rem;
					text-transform: uppercase;
				}
				.cart-content {
					.cart-line {
						display: grid;
						border: 0;
						font-size: .8rem;
						border-bottom: 1px solid $border-color;
						grid-template:"image desc desc desc" 
													"image qty price price" 
													/ 1fr 1fr 1fr 1fr;
						padding: 0; 
						margin-top: 1rem;
						padding-bottom: 1rem;
						.cart-line-image {
							grid-area: image;
							padding-right: .5rem;
						}
						.cart-line-desc {
							grid-area: desc;
							.model-name {
								font-size: .8rem;
								font-weight: bold;
							}
						}
						.cart-line-qty {
							grid-area: qty;
							text-align: left;
							.label {
								display: inline-block;
							}
						}
						.cart-line-price {
							grid-area: "price";
							.price {
								font-size: .8rem;
								font-weight: normal;
							}
						}
					}
				}
				.line {
					display: flex;
					justify-content: space-between;
					padding-bottom: .5rem;
					padding-top: .5rem;
					.value {
						font-weight: bold;
					}
					&.cart-carrier {
						padding-top: 0;
						font-size: .8rem;
						color: $gray-800;
					}
					&.cart-shipping {
						padding-bottom: 0;
					}
					&.cart-grand-total {
						padding-bottom: 0;
						font-size: 1.2rem;
					}
					&.cart-taxe {
						padding-top: 0;
						font-size: .8rem;
					}
				}
			}
		}
	}
	.cart-line {
		display: grid;
		
		grid-column-gap: 1rem;
		grid-template:"image desc desc" 
									"image price price"
									"qty qty delete " 
									/ 1fr 1fr 2fr;
		@include media-breakpoint-up(sm) {
			grid-template:"image desc desc" 
										"image qty delete"
										"image price price"
									 	/ 1fr 1fr 1fr;
		}
		
		@include media-breakpoint-up(md) {
			
			grid-template:"image desc qty price" 
										"image desc delete price" 
										/ 1fr 5fr 2fr 2fr;
		}
		.cart-line-image {
			grid-area: image;
		}
		.cart-line-desc {
			grid-area: desc;
			.model-name {
				text-transform: uppercase;
				font-weight: bold;
				font-family: $headings-font-family;
			}
		}
		.cart-line-qty {
			grid-area: qty;
			text-align: center;
			.label {
				display: block;
			}
		}
		.cart-line-delete {
			grid-area: delete;
		}
		.cart-line-price {
			grid-area: price;
			text-align: right;
			.price {
				flex-grow: 1;
				font-size: 1.2rem;
				font-weight: bold;
			}
		}
	}	
}