body.nav-sm-display {
  position: fixed;
  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    background-color: transparentize($gray-900, 0.7);
  }
}
.header-category-sm {
  ul {
    border:  1px solid $border-color;
    box-shadow: $box-shadow;
    background-color: $white;
    color: black;
    height: 100vh;
    position: fixed;
    width: 100%;
    height: 100vh;
    //max-width: 500px;
    margin-left:-100%;
    z-index: 3000;
    top: 0;
    left: -100%;
    overflow: auto;
    //display: none;
    transition: left 500ms ease-in;
    &.open-nav {
      left:100%;
    }
    li {
      &.list-inline-item:not(:last-child) {
        margin: 0;
      }

      font-weight: normal;
      padding-bottom: 1rem;
      padding-top: 1rem;
      padding-left: 0;
      padding-right: 0;
      text-transform: uppercase;
      display: block;
      border-bottom:  1px solid $border-color;
      display: block;
      padding-left: 1rem;
      padding-right: 1rem;
      &.bg-dark {
        border-bottom:  none;

      }
      .collapse {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
      a {
        color: $gray-900;
        font-size: 1.0rem;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  &:after {/*
    content: " ";

    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: transparentize($gray-800, 0.2);
    z-index: 2900;
    */
  }
}
.locomotive-section[data-locomotive-section-type="header"] {

  p {
    margin-bottom: 0;
  }

  .header  {

    & > .container-fluid {
      //border: 1px solid red;
      &:last-child {
       
      }
    }
    .theme-dark {
      background-color: theme-color('dark');
      color: $white !important;
      a, .icon-label {
        color: $white !important;
      }
    }
    .theme-light {
      background-color: transparent;
      color: theme-color('dark') !important;
      a, .icon-label {
        color: theme-color('dark') !important;
      }
    }
    //border: 1px solid red;
    & .header-block {
      //border: 1px solid red;
      &.col-auto {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &.fixed {
      position: fixed;
      width: 100%;
      z-index: 3000;
      box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    }
    .header-block-text {

    }
    .header-block-menu {
      .icon-menu {
        .bar {
          background: $gray-900;
          height: 3px;
          width: 30px;
          padding-bottom: 10px;
        }
      }
      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }
    }
    .header-block-logo {
      @include media-breakpoint-down(md) {
        .navbar-brand {
          margin: 0;
          height: 50px;

        }
      }
    }
    .header-block-cart_icon,
    .header-block-user_icon,
    .header-block-link_icon{

      display: flex;
      .icon {
        text-align: center;
        .icon-img {
          @include media-breakpoint-down(md) {
            height: 25px;
            width: auto;
          }
        }
        .icon-label {
          text-align: center;
          color: theme-color('dark');
        }
        @include media-breakpoint-up(md) {
          &.icon-inline {
            border: 1xp solid red;
            display: flex;
            flex-direction: row;
            align-items: center;
            .icon-link {
              display: flex;
              flex-direction: row;
              .icon-img {
                width: 1.7rem;
                @include media-breakpoint-down(md) {
                  width: 1.4rem;
                }
              }
              .icon-label {
                font-size: 1.1rem;
                padding-left: .7rem;
                text-align: left;

              }
            }
          }
        }
      }
    }
    .header-block-search {
      
      position: initial;
      .container {
        position: relative;
        width: 100%;
        max-width: 400px;
        .sk-search-box {
          border: 1px solid $border-color;
          
          input.sk-search-box__text {
            outline:0;
            color: $gray-900;
          }
          .sk-search-box__loader {
            &.is-hidden {
              display: block;
              opacity: 0;
            }
          }
          &.is-focused {
            box-shadow: $box-shadow-sm;
            & + .autocomplete {
              opacity: 1;
              display: block;
            }
          }
        }
        .autocomplete {
          display: none;
          &:hover {
            display: block;
            opacity: 1;
          }
          position: absolute;
          opacity: 0;
          left: 1rem;
          width: calc(100% - 2rem);
          box-shadow: $box-shadow;
          z-index: 300;
          
          background-color: $white;
          .sk-no-hits {
            font-size: .8rem;
            margin-bottom: .8rem;
            margin-top: .8rem;
            padding-left: .5rem;
            padding-right: .5rem;
            .sk-no-hits__info {
              font-size: .8rem;
            }
            .sk-no-hits__steps {
              margin-top: .6rem;
              .sk-no-hits__step-action {
                padding: .3rem;
                font-size: .8rem;
              }
            }
          }
          .product-thumbnail {
            padding-left: .5rem;
            padding-right: .5rem;
            &:hover {
              background-color: transparentize($gray-400, .9);
            }
            font-size: .8rem;
            .image {
              width: 35%;
              padding-top: 1rem;
            }
            .content {
              flex-direction: column;
              padding-bottom: 1rem;
              padding-top: 1rem;
              .description {
                .title {
                  font-weight: normal;
                  font-size: .8rem;
                  line-height: .8rem;
                }
                .short_description {
                  display: none;
                }
                
              }
              .price {
                  border-width: 0;
                  padding: 0;

                  .price_value {
                    font-weight: normal;
                    font-size: .8rem;
                    color: $gray-700;
                  }
                }
              .add-to-cart {
                display: none;
              }
            } 
          }
        }
      }
    }
    .header-block-navigation {
      width: 100%;
      .list-inline {
        .list-inline-item {
          margin: 0;
          position:  initial;
          padding: .7rem;
          padding-left: 1rem;
          padding-right: 1rem;
          a {
            display: inline-block;
            width: 100%;
            height: 100%;
            
          }
          .title {
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
            padding-left: .5rem;
            padding-right: .5rem;
            padding-bottom: 1rem;
          }
          .list-inline-dropdown {
            box-shadow: 0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
            position: absolute;
            display: none;
            left: 0;
            z-index: 2000;
            width: calc(100% - 40px);
            padding: 1.5rem;
            margin-left: 20px;
            margin-right: 20px;
            background-color:  $gray-100;
            color: $gray-900;
            .items {
              display: flex;
              flex-wrap: wrap;
              .column {
                width: 100%;
                padding-left: .5rem;
                padding-right: .5rem;
                @include media-breakpoint-up(md) {
                  width: 25%;
                }
                @include media-breakpoint-up(xl) {
                  width: 20%;
                }

              }
            }
            ul {
              list-style-type: none;
              padding:0;
              margin: 0;
              li {
                padding-bottom: .2rem;
              }
              a {
                color: $gray-900;
              }
            }
          }

          &:hover {
            background-color: $gray-100;
            a {
              text-decoration: none;
            }
            .list-inline-dropdown {
              display: block;
            }
          }
        }
      }
    }
  }
}
