$sk-layout-background: 'none';
$sk-layout-panel-background: 'none';
$sk-active-bg-color: theme-color('primary');
$sk-action-text-color: theme-color('primary');
$sk-selector-active-background: theme-color('primary');
$sk-font-family: $font-family-sans-serif;

@import "~searchkit/theming/theme.scss";
#searchkit-faceting-container {
	opacity: 0;
	transition: opacity 300ms ease-in;
	min-height: 600px;
	&.loaded {
		opacity: 1;
	}
}
.section-searchkit-faceting {
	
	.sk-layout {
		@include make-row();
		.sk-filters-collapser {
			display: none;
			@include media-breakpoint-down(md) {
				display: inline-block;
				@include button-variant( theme-color('secondary'), $white,theme-color('secondary'));
				@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
			}
		}
		.sk-layout__body {
			margin-top: 0;
			padding-right: 15px;
			padding-left: 15px;
			width: 100%;
			min-width: unset;
			.sk-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				//width: 100%;
				.sk-hits-stats {
					align-self: center;
					text-align: right;
				}
			}
			.sk-filters {
				box-shadow: none;
				border-right: 1px solid $border-color;
				display: block;
				flex-basis: 20%;
				margin: 0;
			}
			.sk-action-bar {
				margin-left: 0;
				margin-right: 0;
			}
			.sk-results-list {
				flex-basis: 80%;
				box-shadow: none;
				.sk-action {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					margin-bottom: 0;
					.sk-action-bar-row {
						padding-right: .5rem;
					}
				}
				.sk-hits-grid {
					display: flex;
					
					padding: 0;
				}
				.sk-hits-list,
				.sk-hits-grid {
					margin: 0;
					margin-top: 1rem;
					border-top: 1px solid $border-color;
				}
				
			}
			.sk-action-bar-row {
				display: flex;
				align-content: start;
			}
			
			.sk-select {
				select {
					margin-right: .5rem;
					max-height: unset;
					padding-right: 1.7rem;
					padding-left: 1rem;
					border-color: $border-color;
					height: 38px;
					
				}
				&:after {
					top: 19px;
					right: 19px;
				}
				margin-right: .5rem;
			}
			.sk-toggle {
				margin-left: 0;
				max-height: unset;
				.sk-toggle-option {
					@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
					&:first-child {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
					&:last-child {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}
			.sk-search-box {
				border: 1px solid $border-color;
			}
			.sk-range-slider {
				.rc-slider-track {
					background-color: transparentize(theme-color('primary'), 0.5);
				}
			}
			.sk-range-input {
				display: none;
			}
			.sk-pagination-navigation {
				margin: 0;
				width: auto;
				min-width: 200px;
				.sk-toggle-option {
					width: 2rem;
					
				}
			}
			.sk-filters-btn {
				display: none;
			}
			@include media-breakpoint-down(xl) {
				.sk-hits-grid > div {
					width: 25%;
				}
			}
			@include media-breakpoint-down(lg) {
				.sk-hits-grid > div {
					width: 33%;
				}
			}
			@include media-breakpoint-down(md) {
				padding-left: 0;
				padding-right: 0;
				.sk-results-list {
					
					.sk-hits-list,
					.sk-hits-grid {
						border-top: none;
						margin-top: 0;
					}
				}
				.sk-hits-grid > div {
					width: 33%;
				}
				.sk-layout__body {
					flex-direction: column;
					min-width: unset;
					margin-top: 1rem;
				}
				.sk-action-bar-row {
					&.sk-filters-btn {
						display: inline-block;
						width: auto;
					}
					&.sk-filters-toggle {
						display: inline-block;
						width: auto;

					}
				}
				.sk-filters {
					align-items: stretch;

					display: none;
					
					margin: 0;
					padding: 1.5rem;
					&.show {
						background-color: $white;
						display: flex;
						position: fixed;
						justify-content: flex-start;
						flex-direction: row;
						flex-wrap: wrap;
						top: 0;
						left: 0;
						width: 100vw;
						height: 100vh;
						overflow: auto;
						z-index: 1000;
					}
					
					.sk-filters-header {
						display: flex;
						width: 100%;
						justify-content: space-between;
						height: 2rem;
						.sk-filters-title {
							font-weight: bold;
							font-size: 1.5rem;
						}
					}
					.sk-filters-footer {
						display: flex;
						flex-grow: 2;
						width: 100%;
						padding: 1rem;
						align-items: flex-end;
					}
					.sk-selected-filters {
						align-items: flex-start;
					}
					.sk-panel {
						min-width: 200px;
						padding-left: .5rem;
						padding-right: .5rem;
						border-bottom: 1px solid $border-color;
					}
				}
				.sk-action-ctrl {
					
					.sk-filters-filter {
						display: none;
					}
				}
				.sk-results-list {
					 
					.sk-action {
						margin-bottom: 0.5rem;
					}
				}
			}
			@include media-breakpoint-down(sm) {
				.sk-action-bar-row {
					justify-content: space-between;
					width: 100%;
				}
				
				.sk-hits-grid > div {
					width: 50%;
				}
				.sk-action.sk-action-ctrl {
					/*Fixed on bottom*/
		      position: fixed;
		      bottom: 0;
		      left: 0;
		      z-index: 900;
		      background-color: $white;
		      box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
		      width: 100%;
		      margin-bottom: 0;
					.sk-filters-btn,
					.sk-filters-sort {
						margin-bottom: 0rem;
						width: 50%;
						border: 0;
						
						text-transform: uppercase;
						&.sk-filters-btn {
							border-right: 1px solid $border-color;
						}
						.btn, .sk-select {
							border: 0;
							display: inline-block;
							background-color: transparent;
							width: 100%;
							text-align: center;
							text-transform: uppercase;
							padding: 1rem;
							text-overflow: ellipsis;
							&.sk-select {
								padding: 0;
								&:after {
									margin-top: 3px;
								}
								select {

									text-transform: uppercase;
									font-weight: normal;
									padding: 1rem;
									padding-left: 0;
									padding-right: 0;
									margin: 0;
									border: none;
									height: unset;
									width: 80%;
									text-overflow: ellipsis;
									background-color: transparent;
								}
							}
						}
					}
					.sk-filters-filter {
						order: 3;
						width: 100%;
						& > div {
							display: flex;
							justify-content: center;
							text-align: center;
							width: 100%;
						}
						
					}
				}
			}
			@include media-breakpoint-down(xs) {
				.sk-hits-grid > div {
					width: 50%;
				}
				.sk-pagesize {
					display: none;
				}
				.sk-filters {
					& > div {
						width: 100%;
					}
				}
			}
		}
	}
}
