.main-loader {
  background: $white;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  z-index: 3000;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  &.show {
    display: block;
    //opacity: 1;
    opacity: 0;
    animation-duration: 200ms;
    animation-delay: 600ms;
    animation-name: show-loader;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .spinner-grow {
    background-color: theme-color('primary');
    margin-top: calc(50vh - 33px);
    height: 4rem;
    width: 4rem;

  }
}

@keyframes show-loader {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*
$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: theme-color('info'); }
	25% { stroke: theme-color('primary'); }
	50% { stroke: theme-color('primary'); }
	75% { stroke: theme-color('warning'); }
  100% { stroke: theme-color('warning'); }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
*/