
.product-thumbnail {
  display: flex;
  align-self: stretch;
  .image {
    text-align: center;
    display: block;
    text-decoration: none;
    img {
      max-height: 100%;
      max-width: 100%;
    }
    .carousel  {
      .carousel-control-prev,
      .carousel-control-next {
        opacity: 0;
        .carousel-control-prev-icon,
        .carousel-control-next-icon
         {
          background-color: none;
          &:after {
            content:"<";
            display: block;
            font-size: .9rem;
            font-weight: bold;
            color: $white;
            border-radius: 30px;
            background-color: $gray-900;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            box-shadow: $box-shadow;
          }
        }
        .carousel-control-next-icon {
          &:after {
            content:">";
          }
        }
      }
      &:hover {
        .carousel-control-prev,
        .carousel-control-next {
          opacity: .9;
        }
      }
    }
  }
  .content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow:1;
    .description {
      a.title {
        display: block;
        color: $gray-800;
      }
      .short_description {
        display: none;
      }
      .category {
        display: block;
        color: $gray-600;
        font-size: .9rem;
      }
    }
    .price {
      padding-top: 1rem;
      text-align: center;
      font-family: $headings-font-family;
      line-height: $headings-line-height;
      font-weight: $headings-font-weight;
      .price_orignal {
        display: inline-block;
        text-decoration: line-through;
        padding-right: .25rem;
      }
      .price_value {
        display: inline-block;
        font-size: 1.5rem;
        &.discounted {
          color: theme-color('warning');
        }
      }
    }
    .add-to-cart {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      .btn-add-to-cart,
      .btn-product-page {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: $btn-border-width solid transparent;
        display: inline-block;
        box-shadow: none;
        margin-bottom: .5rem;
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
        @include transition($btn-transition);
        @include hover {
          color: $body-color;
          text-decoration: none;
        }
      }
      .btn-add-to-cart {
        @include button-variant(theme-color('primary'), theme-color('primary'));
      }
      .btn-product-page {
        margin-right: .5rem;      
        @include button-outline-variant(theme-color('primary'));
      }
    }
    .stock_state {
     line-height: 2.8rem;
    }
    .desc {

    }
  }
  &.grid {
    flex-direction: column;
    border-right: 1px solid $border-color;
    
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @include media-breakpoint-down(sm) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-right: 0;
      /*
      //flex-direction: row;
      border-bottom: 1px solid $border-color;
      .image {
        flex-basis: 25%;
        min-width: 25%;
        padding-right: 1rem;
      }
      */
      .content {
        font-size: .8rem;
        padding-top: 0rem;
        .description {
          .title {
            line-height: 1.1rem;
            max-height: 2.2rem;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .short_description, .category {
            display: none;
          }
        }
      }
    }
  }
  &.list {
    flex-direction: row;
    border-bottom: 1px solid $border-color;
    .image {
      width: 20%;
      max-width: 250px;
      padding-right: 1rem;
      padding-top: 1.5rem; 
      img {
        max-width: 100%;
      }
    }
    .content {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem; 
      width: 100%;
      .title {
        font-size: 1.1rem;
        font-weight: bold;
      }
      .description {
        .short_description {
          font-size: .8rem;
          display: block;
          p {
            display: inline;
            padding-bottom: 0;
            padding-right: .2rem;
          }
        }
      }
      .price {
        border-left: 1px solid $border-color;
        min-width: 200px;
        padding-left: .5rem;
        text-align: center;
        a, button {
          width: 80%;
        }
      }
    }
    @include media-breakpoint-down(md) {
      .image {
        width: 20%;
        padding-right: 1rem;
      }
      .content {
        .price {
          .add-to-cart {
            display: none;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .image {
        width: 35%;
        padding-right: .5rem;
        padding-top: 1rem;
        .carousel-indicators {
          display: none;
        }
      }
      .content {
        flex-direction: column;
        text-align: left;
        padding-bottom: 1rem;
        padding-top: 1rem;
        .title {
          font-size: 1rem;
          font-weight: normal;
        }
        .description {
          .short_description {
            display: none;
          }
        }
        .price {

          border-left: 0;
          text-align: right;
          width: 100%;
          .price_value {
            font-size: 1.1rem;
          }
          .add-to-cart {
            display: none;
          }
        }
      }
    }
  }
  &.theme-bordered {
    &.grid {
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
  }

}
.product-form-qty {
  padding-bottom: 20px;
  padding-top: 20px;
  .input-group {

    .input-group-addon {
      background-color: theme-color("dark");
      border-color: theme-color("dark");
      color: color("white");
      cursor: pointer;
    }
    .form-control {
      border-color: theme-color("dark");
    }
  }
}
.product-qty {
  border: 1px solid $input-border-color;
  input {
    border: 0;
    box-shadow: none;
  }
  .input-group-addon {
    cursor: pointer;
  }
}
//Product Page
$product-attr-gap: 2rem;
.product-page {
  width: 100%;
  .product-attr {
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: .5rem;
    }
    .list {
      display: flex;
      flex-wrap: wrap;

      .item {
        &.active {
          border: 3px solid $gray-900;
          box-shadow: $box-shadow-sm;
        }
        width: 100%;
        @include media-breakpoint-up(sm) {
          width: 50%;
        }
        @include media-breakpoint-up(md) {
          width: 33%;
        }
        @include media-breakpoint-up(lg) {
          width: 20%;
        }
        @include media-breakpoint-up(xl) {
          width: 15%;
        }
      }
    }
  }
  display: grid;
  
  grid-template:
                "breadcrumb breadcrumb breadcrumb"
                "title title title"
                "image image image"
                "brand social attr"
                "category category category"  
                "price price price"
                "cart cart cart"
                "shortdesc shortdesc shortdesc"
                "models models models"
                
                "desc desc desc"
                "variant variant variant"
                "cross cross cross"
                / auto auto auto;


  @include media-breakpoint-up(md) {
    grid-column-gap: 1rem;
    grid-row-gap: .5rem;
    grid-template:"breadcrumb breadcrumb"
                "title title" 
                "brand brand"
                "attr attr"
                "category social" 
                "image price"
                "image cart"
                "image shortdesc"
                "image variant"
                "desc desc"

                "models models"
                "cross cross"
                "up up"
                / 1.5fr 1fr;
  }
  @include media-breakpoint-up(lg) {
    grid-template:"breadcrumb breadcrumb"
                "title price" 
                "brand cart" 
                "category cart" 
                "image cart"
                "image attr"
                "image social"
                "image shortdesc" 
                "image variant" 1fr
                "models models"
                "desc desc"

                
                "cross cross"
                "up up"
                / 2fr 1fr;
  }

  
  .product-title {
    grid-area: title;
    h1 {
      text-align: center;
      font-size: 1.5rem;
      line-height: 2rem;
      text-transform: uppercase;
      color: $gray-900;
      font-weight: lighter;
      margin-bottom: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include media-breakpoint-up(md) {
        font-size: 2rem;
        line-height: 2.6rem;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .product-breadcrumb {
    grid-area: breadcrumb;
    li.breadcrumb-item {
      font-size: .9rem;
      line-height: 1rem;
      &.active {
        color: theme-color('primary');
        &::before {
          font-weight: bold;
          color: $gray-900;
        }
      }
      a {
        color: $gray-700;
        
      }
      & + .breadcrumb-item {
        &::before {
          content: " ã€‰";
          font-size: .8rem;
          line-height: 1rem;
        }
      }
    }
  }
  .product-brand {
    grid-area: brand;
  }
  .product-category {
    grid-area: category;
  }
  .product-image {
    grid-area: image;
    .carousel {
      padding-bottom: 2.5rem;
      .carousel-indicators {
        bottom: -3rem;
      }
      .carousel-inner {
        .carousel-item {
          text-align: center;
          img {
            display: inline-block;
            max-width: 500px;
          }
        }
      }
    }
  }
  .product-social-share {
    grid-area: social;
  }
  .product-model-attr {
    grid-area: attr;
    .badge {

    }
  }
  .product-shortdesc {
    grid-area: shortdesc;
    font-size: .9rem;
    color: $gray-700;
    padding-top: 1rem;
  }
  .product-desc {
    grid-area: desc;
    padding-top: 1rem;
  }
  .product-variant-selector {
    grid-area: variant;
    cursor: pointer;
    .variant-title {
      padding-bottom: .5rem;
      padding-top: .8rem;
    }
    .btn {
      margin-bottom: .5rem;
    }
  }
  .product-price {
    grid-area: price;
    @include media-breakpoint-up(md) {
      text-align: right;
    }
    .price-value {
      font-size: 1.8rem;
      font-weight: bold;
      color: theme-color('primary');
    }
    .price-original {

    }
    .badge-discount {
      background-color: theme-color('warning');
    }
  }
  .product-cart {
    grid-area: cart;
    
    .add-to-cart {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      column-gap: .7rem;
      row-gap: .7rem;
      .product-addtocart {
        display: block;
        width: 100%;
        .btn-addtocart {
          display: block;
          width: 100%;
          @include button-variant(theme-color('success'), theme-color('success'));
          color: $white;
          text-transform: uppercase;
        }
      }
      .product-qty-input {
        padding-bottom: 1rem;
        display: block;
        width: 100%;
      }
    }
    /*
    @include media-breakpoint-down(md) {
      .add-to-cart {
        flex-direction: row;
        .product-addtocart {
          width: 50%;
        }
        .product-qty-input {
          width: 50%;
        }
      }
    }*/
    
    @include media-breakpoint-down(sm) {
      /*Fixed on bottom*/
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 2500;
      background-color: $white;
      box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
      width: 100%;
      .add-to-cart {
        flex-wrap: nowrap;
        flex-direction: row;
        padding: .7rem;
        .product-addtocart {
          width: auto;

        }
        .product-qty-input {
          max-width: 170px;
          padding-bottom: 0;
          label {
            display: none;
          }
        }
        .product-stock-state {
          order: last;
        }
      }
    }
    .product-cart-card {
      background-color: $gray-100;
      padding: 1rem;
      .variant-name {
        padding-top: .5rem;
        font-size: 1rem;
      }
      .sku {
        font-size: .8rem;
      }
      
    }
  }
  .product-cross-sellings {
    grid-area: cross;
    padding-bottom: $product-attr-gap;
    padding-top: $product-attr-gap;
  }
  .product-up-sellings {
    grid-area: up;
    padding-bottom: $product-attr-gap;
    padding-top: $product-attr-gap;
  }
  .product-variant-list {
    grid-area: models;
    padding-bottom: $product-attr-gap;
    padding-top: $product-attr-gap;
    
  }
}

.product-variant-thumbnail {
  display: flex;
  padding: 1rem;

  border-bottom: 1px solid $border-color;
  .price {
    .value {
      font-size: 1.2rem;
      font-weight: bold;
    }
    
  }
  
  .image {
    width: 25%;
    padding-right: .7rem;
  }
  @include media-breakpoint-up(xl) {
    flex-direction: column;
    border-bottom: none;
    .image {
      width: 100%;
    }
    .name {
      text-align: center;
    }
    .price {
      text-align: center;
    }
  }
}
