/* autoprefixer grid: autoplace */
// Wagon main stylesheet file
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@import "custom_theme/_bootstrap_custom";

@import "~bootstrap/scss/bootstrap";
@import "components/*";
@import "sections/*";
@import "payments/*";
@import "custom_theme/*";

*, ::before, ::after {
  box-sizing: border-box;
}
.container-fluid {
  max-width: $page-max-width;
}
.bottom-nav {
  background-color: $white;
  padding: 0.5rem;
  position: fixed;

  box-shadow: 0px -3px 5px rgba(0,0,0,.26);
  position: fixed;
  z-index: 1010;
  bottom: 0;
  left:0;
  width: 100%;
  margin:0;
}
.generic-error {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: $page-max-width; 
  //margin-bottom: 3rem;
  left: 50%;
  z-index: 2600;
  transform: translateX(-50%);
  $generic-error-bg: darken(theme-color('danger'), 5%);
  .toast {
    background-color: $generic-error-bg;
    color: $white;
    
    transform: translateX(50%);
    opacity: 0;
    .toast-header {
      background-color: darken($generic-error-bg, 5%);
      color: $white;
    }
    &.show {
      transform: translateX(0%);
      opacity: 1;
    }
    &.fade {
      transition: all 0.35s ease-in;
    }
  }
}