.cart.cart-delivery {
	display: grid;
	grid-column-gap: 1rem;
	grid-template:"title" 
									"carrier" 
									"total"
									"desc"
									/ 1fr;
	@include media-breakpoint-up(sm) {
		grid-template:"title title" 
								"carrier carrier" 
								"desc total"
								/ 1fr 1fr;
	}
	@include media-breakpoint-up(lg) {
		grid-template:"title title" 
								"carrier total" 
								"desc total"
								/ 2fr 1fr;
	}
	.cart-title {
		grid-area: title;
	}
	.cart-desc {
		grid-area: desc;
	}
	.cart-total {
		grid-area: total;
		
	}
	.cart-carriers {
		grid-area: carrier;
		input[type="radio"] {
			display: none;
			& + label .cart-carrier-selector {
				padding-left: 25px;
				position: relative;
				&:before {
					cursor: pointer;
					border: 1px solid $gray-900;
					border-radius: 50%;
					display: block;
					content: "";
					height: 20px;
					width: 20px;
					top: 5px;
					left: 8px;
					position: absolute;
				}

			}
			&:checked + label .cart-carrier-selector {
				&:after {
					content: "";
					background-color: $gray-900;
					border-radius: 50%;
					height: 14px;
					width: 14px;
					top: 8px;
					left: 11px;
					position: absolute;
				}
			}
		}
		input[type="radio"]:checked + label {
			background-color: $gray-100;
		}
		.cart-carrier {
			border: 1px solid $border-color;
			display: grid;
			grid-column-gap: 1rem;
			grid-template:"selector name price" 
										". description ."
										/ auto 1fr auto;
			padding: 1rem;
			margin-bottom: 1rem; 
			.cart-carrier-selector {
				grid-area: selector;
			}
			.cart-carrier-name {
				grid-area: name;
				font-weight: bold;
			}
			.cart-carrier-description {
				grid-area: description;
			}
			.cart-carrier-price {
				grid-area: price;
			}
		}
	}
}